@page
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<title>Webet333 - @ViewData["Title"] </title>
@section Header {
    <script>
        $(document).ready(function () {
            var url = new URL(window.location.href);
            $('#txt_reset_token').val(url.searchParams.get("token"));
            resetPasswordData();
        });
    </script>
    <script>
        function myFunction() {
            location.reload();
        }
    </script>
    <script>
        function activateButton() {
            var recaptcha = document.getElementById("checkRecaptcha");
            if (!recaptcha.checked) {
                event.preventDefault();
                ShowError("Please check the recaptcha");
            }
            else if ($("#txt_reset_password").val() != $("#txt_reset_confirm_password").val()) {
                event.preventDefault();
                ShowError("'ConfirmPassword' and 'Password' do not match.");
            }
            else
                DoResetPassword();
        }
        function validationRegister(i) {
            if (event.keyCode == 9) {
                if (i === 1) {
                    var username = document.getElementById('txt_reset_password');
                    if (username.value === "") {
                        username.classList.remove("valid");
                        username.classList.add("error");
                    } else {
                        username.classList.remove("error");
                        username.classList.add("valid");
                    }
                }
                if (i === 2) {
                    var password = document.getElementById('txt_reset_confirm_password');
                    if (password.value === "") {
                        password.classList.remove("valid");
                        password.classList.add("error");
                    } else {
                        password.classList.remove("error");
                        password.classList.add("valid");
                    }
                }
            }
        }
        function checkPasswordMatchReset() {
            var password = $("#txt_reset_password").val();
            var confirmPassword = $("#txt_reset_confirm_password").val();
            if (password !== confirmPassword)
                $("#divCheckPasswordMatchReset").html("Passwords do not match!");
            else
                $("#divCheckPasswordMatchReset").html("");
        }
    </script>
}

<div class="account-reg pad-comman-fifteen mar-fifty">
    <h4 class="register symbol white-text mar-btm-ten">RESET YOUR PASSWORD</h4>
    <form role="form" method="post" id="register">
        <div class="row">
            <div class="col-sm-6">
                <div class="info-form">
                    <p class="big-text white-text no-mar"><strong>Basic Information</strong></p>
                    <label class="mar-btm-no user"><input id="txt_username" type="text" class="reg-form" placeholder="Username" value="" disabled /></label>
                    <label class="mar-btm-no user"><input id="txt_email" type="text" class="reg-form" placeholder="Email" value="" disabled /></label>
                    <label class="mar-btm-no user"><input id="txt_name" type="text" class="reg-form" placeholder="Name" value="" disabled /></label>
                    <label class="mar-btm-no user"><input id="txt_mobile" type="text" class="reg-form" placeholder="Mobile" value="" disabled /></label>
                    <label style="color:#ff0000;font-weight:bold" class="registrationFormAlert" id="divCheckPasswordMatchReset"> </label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="info-form">
                    <p class="big-text white-text no-mar"><strong>Account Information</strong></p>
                    <label class="user"><input id="txt_reset_token" name="txt_reset_token" type="hidden" class="reg-form" placeholder="Username" value="" required=""></label>
                    <label class="lock mendatory"><input id="txt_reset_password" name="txt_reset_password"  type="password"    onkeydown="validationRegister(1)" class="reg-form" placeholder="Password" required autocomplete="new-password"><p class="star">*</p></label>
                    <label class="lock mendatory"><input id="txt_reset_confirm_password" name="txt_reset_confirm_password" onkeydown="validationRegister(2)"  type="password"    class="reg-form" placeholder="Confirm Password" required autocomplete="new-password" onkeyup="checkPasswordMatchReset()"><p class="star">*</p></label>
                    <p class="big-text white-text"><strong>Code</strong></p>
                    <div class="captcha-code">
                        <label class="checkbox-inline"><input type="checkbox" id="checkRecaptcha" value="">I'm not a robot</label>
                        <div class="captcha-icon">
                            <div class="captcha-content">
                                <p>reCAPTCHA</p>
                                <p class="small">Privacy - Terms</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center mar-comman">
            <input type="button" id="reg-form" name="Save" value="Submit" class="submit" data-toggle="modal" data-target="#MessageNavigate">
        </div>
    </form>
</div>
<div class="container">
    <div id="MessageNavigate" class="modal fade">
        <div class="modal-dialog mail-width">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <p>Hello, Go Back Home Page ? </p>
                    <ul class="list-inline pad-top-ten">
                        <li><button class="submit" onclick="activateButton()"><a asp-page="/Home/home">Yes</a></button></li>
                        <li><button class="submit" onclick="myFunction()" value="No">No</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
