<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168889054-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-168889054-1');
    </script>
    <meta name="keywords" content="Webet333.com | Cash Market, Online Casino, Malaysia Online Casino, 918Kiss, AG Casino, Playtech Casino, Joker Casino, Joker Slot, M8 Sports, 24x7 Casino, Malaysia Casino, 100% Welcome Bonus Casino, 150% Welcome Bonus Casino, 10% Extra jackpot casino, 10% Extra bonus casino" />
    <meta name="description" content="Webet333.com | Trusted Online Casino Malaysia, Malaysia Online Casino, 918Kiss, AG Casino, Playtech Casino, Joker Casino, Joker Slot, M8 Sports, 24x7 Casino, Malaysia Casino, 200% Welcome Bonus Casino, 150% Welcome Bonus Casino, 10% Extra jackpot casino, 10% Extra bonus casino" />
    <meta name="author" content="" />
    <meta name="title" content="Webet333 🥇" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <link rel="apple-touch-icon" sizes="57x57" href="../../images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../../images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../../images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../../images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../../images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../../images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../../images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../../images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../../images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../../images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../../images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../../images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../../images/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../../images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(window).load(function () {
            $(".se-pre-con").fadeOut("slow");;
        });</script>

    <script src="../../js/toastr.min.js"></script>
    <link href="../../css/toastr.min.css" rel="stylesheet" />
    <link href="../../css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="../../css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="../../css/fontawesome.css" type="text/css" rel="stylesheet" />
    <link href="../../css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../../css/slick.css">
    <link rel="stylesheet" type="text/css" href="../../css/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="../../css/jcf.css">
    <link href="../../css/style.css" type="text/css" rel="stylesheet" />
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <link href="~/css/mobile/mobile-header.css" rel="stylesheet" />
    <script src="../../js/datepicker.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/constants/apiConsts.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/constants/M8Consts.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/constants/PlaytechConsts.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/constants/AGConsts.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/constants/JokerConsts.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/constants/918KissConsts.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/constants/SMSConsts.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/pages/bank.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/bootstrap-datetimepicker.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/bootstrap-datetimepicker.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/helpers/toastrHelpers.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/helpers/storageHelpers.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/helpers/apiHelpers.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/pages/getBalance.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/js/helpers/crypto-js.js"></script>
    <script src="../../js/constants/SecurityConsts.js" type="text/javascript" charset="utf-8"></script>

    <script src="../../js/pages/home.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/pages/gamePageNavigation.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/js/helpers/crypto-js.js"></script>
    <script src="~/js/constants/SMSConsts.js"></script>
    <script src="../../js/xmlToJson.js"></script>

    <script type="text/javascript">
        $(window).load(function () {
            $(".loadingImage").fadeOut("slow");;
        });
        function language(value) {
            SetLocalStorage('language', value);
            location.reload();
            document.addEventListener('contextmenu', event => event.preventDefault());
            document.onkeydown = function (e) {
                if (event.keyCode == 123) {
                    return false;
                }
                if (e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
                    return false;
                }
                if (e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
                    return false;
                }
            }
        }
        /**/</script>
    @RenderSection("Header", false)

</head>
<body onload="getLanguage()" class="home-page ">
    <div class="loadingImage"></div>

    <div id="success_snackbar">
        <div>
            <span><img class="Image" width="100px" height="100px" src="~/images/success.png" /></span>
        </div>
        <div class="message">
            <span id="SuccessMessage">
            </span>
        </div>
    </div>

    <div id="error_snackbar">
        <div>
            <span><img class="Image" width="100px" height="100px" src="~/images/Error.png" /></span>
        </div>
        <div class="message">
            <span id="ErrorMessage">
            </span>
        </div>
    </div>

    <header class="hidden-xs">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <ul class="social">
                        <li style="color: #7c838c;padding-top:3px">Follow us :</li>
                        <li>
                            <a href="https://www.facebook.com/WEBET333-123674099025418/" target="_blank"><img class="menu-social-icon" src="~/images/social-icon/facebook.png" /></a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCE_HSoTYqGLkDa6rX8scNKw?view_as=subscriber" target="_blank"><img class="menu-social-icon" src="~/images/social-icon/youtube.png" /></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/webet333/?hl=en" target="_blank"><img class="menu-social-icon-insta" src="~/images/social-icon/instagram.png" /></a>
                        </li>
                    </ul>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" asp-page="/home/home">
                        <img class="logo" src="~/images/logo.gif" />
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <div class="login-register">
                        <div class="login-form" action="" id="form_login" role="form">
                            <div id="beforelogin" class="div-toggle">
                                <ul>
                                    <li class="login-item"><label id="lbl_homeTime"></label></li>
                                    <li class="login-item input-field">
                                        <ul class="promotion-login">
                                            <li class="login-item user form-icon">
                                                <input id="txt_login_username" name="txt_login_username" style="font-size:11px" class="topTxtBox" data-translate="username_placeholder" placeholder="Username" type="text" tabindex="1" autocomplete="new-password">
                                                <label><a><input type="checkbox" tabindex="3" value="remember-me" name="remember_me" id="remember_me"><span class="lang" key="remember"></span></a></label>
                                            </li>
                                            <li class="login-item lock form-icon">
                                                <input id="txt_login_password" name="txt_login_password" style="font-size:11px" class="topTxtBox" data-translate="password_placeholder" placeholder="Password" autocomplete="new-password" tabindex="2" onkeypress="DoLoginOnEnter();" type="password" />
                                                <label><a href="#" data-toggle="modal" data-target="#forgot-password"><span class="lang" key="forgot_pasword"></span></a></label>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="login-item signin form-icon"><button class="btn-login" onclick="DoLogin(0)" tabindex="3" id="Sign"><span class="lang" key="login"></span></button></li>
                                    <li Class="login-item register my-account" onclick="window.location.href = '/Account/Register'"><button class="btn-register"><a asp-page="/Account/Register"><span class="lang" key="register"></span></a></button></li>
                                    <li class="login-item country">
                                        <div class="col">
                                            <div class="row">
                                                <select class="present" id="ddlLanguages" onchange="SetDefaultLanguage(this)" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
                                                    <option data-image="/images/lang-en.png" value="en-US">EN</option>
                                                    <option data-image="/images/lang-ml.png" value="ms-MY">ML</option>
                                                    <option data-image="/images/lang-zh.png" value="zh-Hans">ZH</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div id="afterlogin" class="div-toggle">
                                <ul>
                                    <li class="login-item"><label id="lbl_TimeafterLogin"></label></li>
                                    <li class="login-item input-field login">
                                        <ul class="d-flex">
                                            <li class="login-item u-name form-icon" style="display:flex;margin-left:-25px;"><span style="font-size:larger" class="lang" key="username"></span>:<span id="lbl_usernameHeader" style="white-space: nowrap; overflow: unset; text-overflow: ellipsis;font-size:larger;"></span></li>

                                        </ul>
                                    </li>
                                    <li class="login-item signin form-icon log-out"><button class="btn-login" value="LOGOUT" type="button" onclick="logoutMain()"><span class="lang" key="logout"></span></button></li>
                                    <li class="login-item register my-account"><button class="btn-register" style="width:100%" value="MY ACCOUNT" onclick="window.location.href='../../Account/Profile'"><span class="lang" key="my_account"></span></button></li>
                                    <li class="login-item country margin-left-25px">
                                        <div class="col">
                                            <div class="row">
                                                <select class="present" id="ddlLanguages" onchange="SetDefaultLanguage(this)" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}'>
                                                    <option data-image="/images/lang-en.png" value="en-US">EN</option>
                                                    <option data-image="/images/lang-ml.png" value="ms-MY">ML</option>
                                                    <option data-image="/images/lang-zh.png" value="zh-Hans">ZH</option>
                                                </select>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="after-logion">
                                    <ul class="money-type list-inline">
                                        <button class="common-btn restore-btn remove-border layout-btn " data-toggle="modal" data-target="#RestoreConfirmation"><img class="icon-home" src="~/images/restore_icon_mob-white.png" /><span class="lang" key="restore"></span></button>
                                        <li class="currency" data-toggle="collapse" data-target="#myDropdown">
                                            <div class="select-balance">
                                                <button onclick="WalletBalance()" class="dropbtn layout-btn"><span class="lang" key="currentbalance"></span> &nbsp;&nbsp;<span class="fa fa-chevron-down"></span></button>
                                                <br />
                                                <div id="myDropdown" class="dropdown-content collapse">
                                                    <table cellpadding="10" style="width:160px" cellspacing="10">
                                                        <tr>
                                                            <td class="menu-padding">Main wallet</td>
                                                            <td><span id="MainBalance">fetching.....</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="menu-padding">Joker wallet</td>
                                                            <td><span id="JokerBalance">fetching.....</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="menu-padding">Playtech wallet</td>
                                                            <td><span id="PlayTechBalance">fetching.....</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="menu-padding">918Kiss wallet</td>
                                                            <td><span id="918KissBalance">fetching.....</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="menu-padding">AG wallet</td>
                                                            <td><span id="AGBalance">fetching.....</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="menu-padding">M8 wallet</td>
                                                            <td><span id="M8Balance">fetching.....</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="menu-padding">MaxBet wallet</td>
                                                            <td><span id="MaxBetBalance">fetching.....</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="menu-padding">Mega888 wallet</td>
                                                            <td><span id="Mega888Balance">fetching.....</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="menu-padding">DG wallet</td>
                                                            <td><span id="DGBalance">fetching.....</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="menu-padding">Sexy wallet</td>
                                                            <td><span id="SexyBalance">fetching.....</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="menu-padding">SA wallet</td>
                                                            <td><span id="SABalance">fetching.....</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="menu-padding">Pussy888 wallet</td>
                                                            <td><span id="Pussy888Balance">fetching.....</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="menu-padding">AllBet wallet</td>
                                                            <td><span id="AllBetBalance">fetching.....</span></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </li>

                                        <a asp-page="/Account/Profile" asp-fragment="deposit" onclick="openCity(event, 'Deposit',0)"><li class="common-btn layout-btn" style="background-color: #0166d2;border-color: #0166d2;width: 125px;border-radius: 5px;cursor:pointer;"><label><img class="icon-home" src="~/images/deposit_icon_mob-white.png" />&nbsp;&nbsp;<span class="lang white-text" key="deposit"></span></label></li></a>

                                        <a asp-page="/Account/Profile" asp-fragment="withdrawal" onclick="openCity(event, 'Withdrawal',1)"><li class="common-btn layout-btn" style="background-color: #0166d2;border-color: #0166d2;width: 135px;border-radius: 5px;cursor:pointer;"><label><img class="icon-home" src="~/images/withdraw_icon_mob-white.png" />&nbsp;&nbsp;<span class="lang white-text" key="withdrawal"></span></label></li></a>

                                        <a asp-page="/Account/Profile" asp-fragment="transfer" onclick="openCity(event, 'Transfer',2)"><li class="common-btn layout-btn" style="background-color: #0166d2;border-color: #0166d2;width: 125px;border-radius: 5px;cursor:pointer;"><label><img class="icon-home" src="~/images/transfer_icon_mob-white.png" />&nbsp;&nbsp;<span class="lang white-text" key="transfer"></span></label></li></a>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="nav navbar-nav">
                        @*<li style="padding-right: 0px;">
                                <a href="../../Information/Download" target="_blank" data-toggle="tooltip" data-placement="bottom" id="918Game" class="menu-kiss-logo" style="margin-top: 10px;">
                                    <img class="img-responsive" style="height:35px;width:auto" src="~/images/918 kiss -sub menu (under slotgame).png" alt="918 kiss -sub menu (under slotgame)" />
                                </a>
                            </li>
                            <li><div class="vertical-line"></div></li>*@
                        <li class="home"><a asp-page="/Home/home"><span class="lang" key="menu_home"></span></a></li>

                        <li class="dropdown sportbook">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="lang" key="menu_sport_book"></span><span class="caret"></span></a>
                            <ul class="dropdown-menu dropmenu-main" id="subMenuSports" role="menu">
                                <li>
                                    <a data-toggle="tooltip" data-placement="bottom" onclick="logingGame('M8')" id="urlSportbook">
                                        <img id="m8sports" data-toggle="tooltip" data-placement="bottom" class="img-responsive img-filter" src="~/images/footer/m8bet.png" style="height:62px;width:auto" alt="M8" />
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tooltip" data-placement="bottom" onclick="logingGame('MaxBet')" id="MaxBetGame">
                                        <img id="maxbetsports" data-toggle="tooltip" data-placement="bottom" class="img-responsive img-filter" src="~/images/footer/maxBet.png" alt="M8" />
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown live-casino" id="livecasino">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="lang" key="menu_live_casino"></span> <span class="caret"></span></a>
                            <ul class="dropdown-menu dropmenu-main" id="subMenuLive" role="menu">

                                <li>
                                    <a onclick="logingGame('DG')" data-toggle="tooltip" data-placement="bottom" id="DGGame">
                                        <img id="dglive" data-toggle="tooltip" data-placement="bottom" class="img-responsive menu-game-logo img-filter" src="~/images/Dg.png" alt="DG" />
                                    </a>
                                </li>
                                <li>
                                    <a onclick="logingGame('SexyBaccarat')" data-toggle="tooltip" data-placement="bottom" id="sexybaccarat">
                                        <img id="sexylive" data-toggle="tooltip" data-placement="bottom" class="img-responsive menu-game-logo img-filter" src="~/images/sexybaccarat.png" alt="sexybaccarat" />
                                    </a>
                                </li>
                                <li>
                                    <a onclick="logingGame('SA')" data-toggle="tooltip" data-placement="bottom" id="SAGame">
                                        <img id="salive" data-toggle="tooltip" data-placement="bottom" class="img-responsive menu-game-logo img-filter" src="~/images/Sa.png" alt="SA" />
                                    </a>
                                </li>
                                <li>
                                    <a onclick="AG(1)" data-toggle="tooltip" data-placement="bottom" id="AGGame">
                                        <img id="aglive" data-toggle="tooltip" data-placement="bottom" class="img-responsive img-filter" src="~/images/AG.png" style="height:73px;width:auto" alt="AG" />
                                    </a>
                                </li>
                                <li>
                                    <a onclick="PlaytechIdentifiy(false)" data-toggle="tooltip" data-placement="bottom" id="PTGame">
                                        <img id="playtechlive" data-toggle="tooltip" data-placement="bottom" class="img-responsive img-filter" src="~/images/Playtech.png" alt="Playtech" />
                                    </a>
                                </li>
                                <li>
                                    <a onclick="logingGame('AllBet')" data-toggle="tooltip" data-placement="bottom" id="AllbetGame">
                                        <img id="playtechlive" data-toggle="tooltip" data-placement="bottom" style="width:120px" class="img-responsive img-filter" src="~/images/allbet.png" alt="Playtech" />
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown slot-game">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="lang" key="menu_slot_game"></span> <span class="caret"></span></a>
                            <ul class="dropdown-menu dropmenu-main" id="subMenuSlots" role="menu">
                                <li>
                                    <a onclick="logingGame('918Kiss')" target="_blank" data-toggle="tooltip" data-placement="bottom" id="918Game">
                                        <img id="kiss918slot" data-toggle="tooltip" data-placement="bottom" class="img-responsive img-filter" style="height:80px;width:auto" src="~/images/918 kiss -sub menu (under slotgame).png" alt="918 kiss -sub menu (under slotgame)" />
                                    </a>
                                </li>
                                <li>
                                    <a onclick="logingGame('Mega888')" data-toggle="tooltip" data-placement="bottom" id="Mega888Game">
                                        <img id="megaslot" data-toggle="tooltip" data-placement="bottom" class="img-responsive img-filter" src="~/images/mega888.png" alt="Playtech" />
                                    </a>
                                </li>
                                <li>
                                    <a onclick="AG(8)" data-toggle="tooltip" data-placement="bottom" id="AGSlotGame">
                                        <img id="agslot" data-toggle="tooltip" data-placement="bottom" class="img-responsive img-filter" src="~/images/AG.png" style="height:73px;width:auto" alt="AG" />
                                    </a>
                                </li>
                                <li>
                                    <a onclick="PlaytechIdentifiy(true)" data-toggle="tooltip" data-placement="bottom" id="PTGameSlot">
                                        <img id="playtechslot" data-toggle="tooltip" data-placement="bottom" class="img-responsive img-filter" src="~/images/Playtech.png" alt="Playtech" />
                                    </a>
                                </li>
                                <li>
                                    <a onclick="logingGame('Joker')" target="_blank" data-toggle="tooltip" data-placement="bottom" id="JokerGame">
                                        <img id="jokerslot" data-toggle="tooltip" data-placement="bottom" class="img-responsive img-filter" src="~/images/joker -sub menu (under SlotGame).png" alt="joker -sub menu (under SlotGame)" />
                                    </a>
                                </li>
                                <li>
                                    <a onclick="logingGame('Pussy888')" target="_blank" data-toggle="tooltip" data-placement="bottom" id="pussy888">
                                        <img id="pussy888slot" data-toggle="tooltip" data-placement="bottom" class="img-responsive img-filter" width="50px" src="~/images/pussy882.png" alt="pussy888" />
                                    </a>
                                </li>
                                @*<li>
                                    <a target="_blank" data-toggle="tooltip" title="Coming Soon" data-placement="bottom" id="xe88">
                                        <img id="pussy888slot" data-toggle="tooltip" data-placement="bottom" class="img-responsive img-filter" width="50px" src="~/images/xe882.png" alt="xe88" />
                                    </a>
                                </li>*@
                            </ul>
                            @*<li class="lottery"><a data-toggle="tooltip" data-placement="bottom" title="Coming Soon"><span class="lang" key="menu_lottery"></span></a></li>*@
                        <li class="promotion"><a href="/Information/Promotion"><span class="lang" key="menu_promotion"></span></a></li>
                        <li class="banking-info" id="afterloginbank"><a asp-page="/Information/Bank"><span class="lang" key="menu_bank"></span></a></li>
                        <li class="download"><a asp-page="/Information/Download"><span class="lang" key="menu_download"></span></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- mobile header -->
    <div class="mobile-header visible-xs">
        <div class="sidebar">
            <div class="navbar-collapse" id="myNavbar">
                <ul class="nav text-center mob-menu">
                    <li id="logout"><a onclick="logoutMain(1)"><i class="fa fa-sign-out" aria-hidden="true"></i><p class="lang" key="sidebar_Logout"></p></a></li>
                    <li id="login"><a href="../Mobile/login"><i class="fa fa-sign-in" aria-hidden="true"></i><p class="lang" key="sidebar_login"></p></a></li>
                    <li><a href="~/Mobile/home"><img src="~/images/mobile/mn-home.png" alt="mn-home"><p class="lang" key="sidebar_home"></p></a></li>
                    <li><a href="~/Home/home"><img src="~/images/mobile/mn-desktop.png" alt="mn-desktop"><p class="lang" key="sidebar_Desktop"></p></a></li>
                    <li><a href="#" data-toggle="modal" data-target="#language"><img src="~/images/mobile/mn-lang.png" alt="mn-lang"><p class="lang" key="sidebar_Language"></p></a></li>
                    <li><a href="~/Mobile/about"><img src="~/images/mobile/about-us.svg" alt="about-us"><p class="lang" key="sidebar_About_US"></p></a></li>
                    <li><a href="~/Mobile/TermandCondtion"><img src="~/images/mobile/t&c.svg" alt="Terms & Condition"><p class="lang" key="sidebar_T_&_C"></p></a></li>
                    <li><a href="~/Account/Profile" id="AccountAfterLogin"><img src="~/images/mobile/profile.svg" alt="Profile"><p class="lang" key="sidebar_Profile"></p></a></li>

                </ul>
            </div>
        </div>
        <div class="canvas-overlay"></div>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header mob-layout">
                <ul>
                    <li>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </li>
                    <li>
                        <a href="/Mobile/home" class="navbar-brand"><img class="logo" src="~/images/mobile-logo.png" alt="WEBET 333.com"></a>
                    </li>
                    <li id="balanceShow">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle wallet" id="balanceAfterShow" type="button" data-toggle="dropdown"><figure><img src="~/images/mobile/f-wallet.png" alt="f-wallet"></figure></button>

                            <ul class="dropdown-menu wallet-dropdown">
                                <li>
                                    <ul class="list-inline">
                                        <li><strong>Main Wallet</strong></li>
                                        <li class="fright" id="ddlmainWallet"></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="list-inline">
                                        <li><strong>918Kiss Wallet</strong></li>
                                        <li class="fright" id="ddl918KissWallet"></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="list-inline">
                                        <li><strong>AG Wallet</strong></li>
                                        <li class="fright" id="ddlAGWallet"></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="list-inline">
                                        <li><strong>M8 Wallet</strong></li>
                                        <li class="fright" id="ddlM8Wallet"></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="list-inline">
                                        <li><strong>Joker Wallet</strong></li>
                                        <li class="fright" id="ddlJokerWallet"></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="list-inline">
                                        <li><strong>Playtech Wallet</strong></li>
                                        <li class="fright" id="ddlPlaytechWallet"></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="list-inline">
                                        <li><strong>MaxBet Wallet</strong></li>
                                        <li class="fright" id="ddlMaxBetWallet"></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="list-inline">
                                        <li><strong>Mega888 Wallet</strong></li>
                                        <li class="fright" id="ddlMega888Wallet"></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="list-inline">
                                        <li><strong>DG Wallet</strong></li>
                                        <li class="fright" id="ddlDGWallet"></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="list-inline">
                                        <li><strong>Sexy Wallet</strong></li>
                                        <li class="fright" id="ddlSexyWallet"></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="list-inline">
                                        <li><strong>SA Wallet</strong></li>
                                        <li class="fright" id="ddlSaWallet"></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="list-inline">
                                        <li><strong>Pussy888 Wallet</strong></li>
                                        <li class="fright" id="ddlPussy888Wallet"></li>
                                    </ul>
                                </li>
                                <li>
                                    <ul class="list-inline">
                                        <li><strong>AllBet Wallet</strong></li>
                                        <li class="fright" id="ddlAllBetWallet"></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <partial name="_CookieConsentPartial" />
    <div class="join-now-section hidden-sm hidden-lg hidden-md" id="afterLoginAnnouncementMobile">
        <div class="text-center myr-quote">
            <h4>MYR <span id="menuMainWallet"><img class="loading-gif" src="~/images/loading.gif" /></span><span onclick="RefershBalance()" class="fa fa-refresh"></span></h4>
        </div>
        <ul class="account-icon list-inline text-center">
            <li class="mobile-icon deposit_icon"><a asp-page="/Account/Profile" asp-fragment="deposit" onclick="openCity(event, 'Deposit',1);window.location = '#Deposit';"><span data-translate="mobile_menu_deposit">DEPOSIT</span></a></li>
            <li class="mobile-icon transfer_icon"><a asp-page="/Account/Profile" asp-fragment="transfer" onclick="openCity(event, 'Transfer',3);window.location = '#Transfer';"><span data-translate="mobile_menu_Transfer">TRANSFER</span></a></li>
            <li class="mobile-icon restore_icon"><a data-toggle="modal" data-target="#RestoreConfirmation" href="#"><span data-translate="mobile_menu_Restore">RESTORE</span></a></li>
            <li class="mobile-icon withdraw_icon"><a asp-page="/Account/Profile" asp-fragment="withdrawal" onclick="openCity(event, 'Withdrawal',2);window.location = '#Withdrawal';"><span data-translate="mobile_menu_Withdraw">WITHDRAWAL</span></a></li>
            <li class="mobile-icon history_icon"><a asp-page="/Account/Profile" asp-fragment="history" onclick="openCity(event, 'History',4);window.location = '#History';"><span data-translate="mobile_menu_History">HISTORY</span></a></li>


        </ul>
        <div class="container">
            <div class="annunce-section">
                <p class="annunce-title white-text"><i class="fa fa-volume-up" aria-hidden="true"></i></p>
                <p class="annunce-text white-text mobile-announcment"><marquee class="announcment-font" behavior="scroll" direction="left" scrollamount="10" id="p_announcement_mobile_one"></marquee></p>
                <div class="clear-fix"></div>
            </div>
        </div>
    </div>
    <div class="join-now-section hidden-sm hidden-lg hidden-md" id="beforeLoginAnnouncementMobile">
        <div class="container">
            <div class="annunce-section">
                <p class="annunce-title white-text"><i class="fa fa-volume-up" aria-hidden="true"></i></p>
                <p class="annunce-text white-text"><marquee class="announcment-font" behavior="scroll" direction="left" scrollamount="10" id="p_announcement_mobile"></marquee></p>
                <div class="clear-fix"></div>
            </div>
        </div>
    </div>
    <div class="box-model-div" id="iframeModel">
        <iframe id="gameFrame" src="" frameborder="0"></iframe>
        <button type="button" class="box-model" onclick="CloseIframe()">&times;</button>
    </div>
    <div class="banner main-content" id="mainpagebody">
        <div class="registration-banner profile-page">
            <div class="container">
                <div class="annunce-section hidden-xs">
                    <p class="annunce-title white-text"><span class="lang" key="announcement"></span> <i class="fa fa-volume-up" aria-hidden="true"></i></p>
                    <p class="annunce-text white-text"><marquee class="announcment-font" behavior="scroll" direction="left" scrollamount="10" id="p_announcement"></marquee></p>
                    <div class="clear-fix"></div>
                </div>

                @RenderBody()
            </div>
        </div>
    </div>

    @*<div id="gameLoadFrame" class="modal fade in" style="z-index: 2247483707;">
            <div class="modal-dialog custom-width">
                <div class="modal-content">
                    <div class="modal-body" style="height:100vh">
                        <iframe id="gameFrame" width="100%" height="100%" style="background-color:white;z-index:5101251515" src="" frameborder="0"></iframe>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="clear"></div>

    <div class="container">
        <div id="RestoreConfirmation" class="modal fade">
            <div class="modal-dialog mail-width">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <p> Are you sure to proceed Restore ?</p>
                        <ul class="list-inline pad-top-ten">
                            <li><button onclick="RestoreBalance()" data-dismiss="modal" class="submit"><a asp-page="/Account/Profile" asp-fragment="deposit">Yes</a></button></li>
                            <li><button class="submit" data-dismiss="modal"><a asp-page="/Home/home">No</a></button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="footer_nav text-center pad-comman">
            <ul class="list-inline text-center">
                <li><a asp-page="/Information/AboutUs"><span key="about_us" class="lang"></span></a></li>
                <li id="afterloginbankfooter"><a asp-page="/Information/Bank"><span key="bank" class="lang"></span></a></li>
                <li><a asp-page="/Information/TermsAndCondition"><span key="terms_and_condition" class="lang"></span></a></li>
                <li><a asp-page="/Information/Faqs"><span key="faqs" class="lang"></span></a></li>
                <li><a asp-page="/Information/HowToJoin"><span key="how_to_join" class="lang"></span></a></li>
                <li><a href="#" class="contact-us-btn-footer hidden-xs"><span key="contact_us" class="lang"></span></a></li>
            </ul>
        </div>
        <p class="copyright mar-top-ten text-center">&copy; <span class="lang" key="all_reserved"></span></p>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h5 class="white-text"><span>S</span>upported Games</h5>
                    <ul class="list-inline supported-game">
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo" src="../../images/kiss-logo-pink.png" alt="918 kiss logo">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo" src="../../images/footer/Joker.png" alt="Joker logo">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo" src="../../images/footer/AG.png" alt="AG logo">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo" src="../../images/footer/Playtech.png" alt="Playtech logo">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo" src="../../images/footer/m8bet.png" alt="M8 logo">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo" src="../../images/footer/maxBet.png" alt="MaxBet logo">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo" src="../../images/footer/Dg.png" alt="DG logo">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo" src="../../images/footer/sexybaccarat.png" alt="Sexybaccarat logo">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo" src="../../images/footer/SA.png" alt="SA logo">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo" src="../../images/footer/mega888.png" alt="SA logo">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo" src="../../images/footer/pussy882.png" alt="Pussy882 logo">
                            </figure>
                        </li>
                        <li>
                            <figure class="pad-top-ten">
                                <img class="pink-logo" src="../../images/footer/allbet.png" alt="Allbet logo">
                            </figure>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-6">
                    <h5 class="white-text"><span>A</span>ccepted Banks</h5>
                    <ul class="list-inline bank-us">
                        <li><img src="../../images/may-bank.jpg" alt="May bank"></li>
                        <li><img src="../../images/public-bank.jpg" alt="Public bank"></li>
                        <li><img src="../../images/hong-leong-bank.jpg" alt="Hong Leong bank"></li>
                        <li><img src="../../images/cimb-bank.jpg" alt="Cimb bank"></li>
                    </ul>
                    <h5 class="white-text"><span>C</span>ERTIFIED BY</h5>
                    <ul class="list-inline bank-us">
                        <li><img src="../../images/footer-certified.jpg" style="width:100%" alt="May bank"></li>
                    </ul>

                    <h5 class="white-text"><span>F</span>ollow us</h5>
                    @*<h6 class="follow-us">Follow US</h6>*@
                    <ul class="list-inline bank-us">
                        <li><a href="https://www.facebook.com/WEBET333-123674099025418/" target="_blank"><img class="menu-social-icon" src="~/images/social-icon/facebook.png" /></a></li>
                        <li><a href="https://www.youtube.com/channel/UCE_HSoTYqGLkDa6rX8scNKw?view_as=subscriber" target="_blank"><img class="menu-social-icon" src="~/images/social-icon/youtube.png" /></a></li>
                        <li><a href="https://www.instagram.com/webet333/?hl=en" target="_blank"><img class="menu-social-icon-insta" src="~/images/social-icon/instagram.png" /></a></li>
                        <li class="version">
                            <label>Version 1.0.4</label>
                        </li>
                    </ul>


                </div>
            </div>
        </div>
    </footer>


    <div class="contact-us-btn">
        <div class="contact-user" href="#" id="ContactUsPopUp"><span class="lang" style="font-size:23px;" key="contact_us"></span>&nbsp;<span class="contact-img"></span></div>
        <ul class="chatting" id="chatting">
            <li class="support-live">
                <h5><strong>Live Support</strong></h5>
                <p><img src="../../images/hours_24.png" alt="hours 24"></p>
                <h6><strong style="padding-right: 60px;">24 Hours</strong></h6>
            </li>
            <li class="call-contact text-center">
                <h5><img class="contact-logos" src="../../images/call.png" alt="Call"> <strong><u>Phone</u></strong></h5>
                <a href="tel:0340652160"> 03-40652160 : <strong>CS1</strong></a>
            </li>
            <li class="text-center">
                <h5><img class="contact-logos" src="../../images/whatsapp.png" alt="Whats App"> <strong><u>Whatsapp</u></strong></h5>
                <strong><a class="contact-us" href="https://api.whatsapp.com/send?phone=601133333765&text=Hello" target="_blank">Click to chat</a><strong> : CS1</strong></strong>
                <br />
                <br />
                <strong><a class="contact-us" href="https://api.whatsapp.com/send?phone=60149232127&text=Hello" target="_blank">Click to chat</a><strong> : CS2</strong></strong>
            </li>
            <li class="text-center">
                <h5><img class="contact-logos" src="../../images/wechat.png" alt="We Chat"> <strong><u>Wechat</u></strong></h5>
                <h6><strong>Customer Service 1</strong></h6>
                <figure>
                    <img class="image-qr" src="../../images/barcode-cs1.jpg" alt="barcode">
                </figure>
            </li>
            <li class="text-center">
                <h5><img class="contact-logos" src="../../images/telegram.png" alt="Whats App"> <strong><u>Telegram</u></strong></h5>
                <br />
                <strong><a href="#"> @@webetcs1 : </a><strong> : CS1</strong></strong>
            </li>
        </ul>
    </div>

    @*<partial name="LiveChat" />*@

    <div class="container">
        <div id="forgot-password" class="modal fade">
            <div class="modal-dialog mail-width">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <p data-translate="forgtopasswordststic"></p>
                        <label class="num pad-top-ten"><input id="txt_forgot_email" name="txt_forgot_email" type="number" pattern="\d*" class="reg-form" data-translate="forgtopassword_placeholder" placeholder="Phone Number" value=""></label>
                        <ul class="list-inline pad-top-ten">
                            <li><button class="submit" type="button" onclick="DoForgotPassword()" data-translate="forgtopassworbutton"></button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clear"></div>
    <!--Begin Comm100 Live Chat Code-->
    <div id="comm100-button-425"></div>
    <div class="footer-widget visible-xs">
        <ul class="list-inline text-center">
            <li>
                <a href="~/Mobile/home">
                    <figure><img src="~/images/mobile/f-home.png" alt="f-home"></figure>
                    <p class="white-text no-mar" data-translate="menu_home">Home</p>
                </a>
            </li>
            <li id="walletFooterBeforeLogin">
                <a href="#" data-toggle="modal" data-target="#gameLogin">
                    <figure><img src="~/images/mobile/f-wallet.png" alt="f-wallet"></figure>
                    <p class="white-text no-mar" data-translate="mobile_my_account">My Wallet</p>
                </a>
            </li>
            <li id="walletFooterAfterLogin">
                <a href="~/Account/Profile">
                    <figure><img src="~/images/mobile/f-wallet.png" alt="f-wallet"></figure>
                    <p class="white-text no-mar" data-translate="mobile_my_account">My Wallet</p>
                </a>
            </li>
            <li>
                <a href="~/Information/Promotion">
                    <figure><img src="~/images/mobile/f-promo.png" alt="f-promo"></figure>
                    <p class="white-text no-mar" data-translate="Promotion">Promotion</p>
                </a>
            </li>
            <li>
                <a href="#" onclick="whatsapp()">
                    <figure><img src="~/images/mobile/f-wechat.png" alt="f-wechat"></figure>
                    <p class="white-text no-mar">Whatsapp</p>
                </a>
            </li>
            <li>
                <a href="#">
                    <figure><img id="comm100-button-425"></figure>
                    <p class="white-text no-mar">Live Chat</p>
                </a>
            </li>
        </ul>
    </div>
    <div class="container" id="laguage">
        <div id="language" class="modal fade">
            <div class="modal-dialog mail-width">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <p>Select Language.</p>
                        <ul class="list-inline pad-top-ten">
                            <li><button class="submit" type="button" data-dismiss="modal" onclick="language('en-US')">English</button></li>
                            <li><button class="submit" type="button" data-dismiss="modal" onclick="language('ms-MY')">Malay</button></li>
                            <li><button class="submit" type="button" data-dismiss="modal" onclick="language('zh-Hans')">Chinese</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-login modal fade" id="gameLogin" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span class="lang" key="alert"></span></h4>
                </div>
                <div class="modal-body">
                    <p class="lang" key="noLogin"></p>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var Comm100API = Comm100API || {}; (function (t) { function e(e) { var a = document.createElement("script"), c = document.getElementsByTagName("script")[0]; a.type = "text/javascript", a.async = !0, a.src = e + t.site_id, c.parentNode.insertBefore(a, c) } t.chat_buttons = t.chat_buttons || [], t.chat_buttons.push({ code_plan: 425, div_id: "comm100-button-425" }), t.site_id = 233923, t.main_code_plan = 425, e("https://chatserver.comm100.com/livechat.ashx?siteId="), setTimeout(function () { t.loaded || e("https://hostedmax.comm100.com/chatserver/livechat.ashx?siteId=") }, 5e3) })(Comm100API || {})
    </script>
    <!--End Comm100 Live Chat Code-->
    <script src="../../js/pages/account.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/constants/918KissConsts.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script src="../../js/slick.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">

        $(document).ready(function () {
            $(".contact-us-btn,.contact-us-btn-footer").click(function () {
                $("#chatting").toggle();
            });
            $(".contact-user").mouseover(function () {
                $("#chatting").toggle();
            });
        });
        $(".dropdown").hover(function () {
            $(this).toggleClass("open");
        },
            function () {
                $(this).removeClass("open");
            }
        );
    </script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $(".open-modal").click();
        });
        jQuery(".scroll-down-visible").hide();
        jQuery("#more-arrow").click(function () {
            jQuery(".scroll-down-visible").toggleClass("show");
            jQuery("#more-arrow").toggleClass("rotate");
        });
    </script>
    <script src="../../js/jcf/jcf.js"></script>
    <script src="../../js/jcf/jcf.select.js"></script>
    <script src="../../js/jcf/jcf.radio.js"></script>
    <script src="../../js/jcf/jcf.checkbox.js"></script>
    <script src="../../js/jcf/jcf.file.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $(function () {
                jcf.replaceAll();
            });
            $(function () {
                //$.fn.filepond.registerPlugin(FilePondPluginImagePreview);
                //$('.filepond').filepond({
                //    labelIdle: 'Choose File',
                //    allowDrop: false
                //});
            });
        });
    </script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $(function () {
                jcf.replaceAll();
                document.getElementById("flag").style.cursor = "pointer";
            });
        });


        $(document).ready(function () {
            announcementMobile();
        });
        async function announcementMobile() {
            var marquee = document.getElementById('p_announcement_mobile');
            var marquee_one = document.getElementById('p_announcement_mobile_one');
            if (marquee !== null || marquee_one !== null) {
                var res = await GetMethod(apiEndPoints.announcementList);
                for (i = 0; i < res.data.length; i++) {
                    marquee_one.innerHTML += '<span>' + res.data[i].announcement + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                    marquee.innerHTML += '<span>' + res.data[i].announcement + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                }
            }
        }


    </script>
    <script>
        function openCity(evt, cityName, linknum) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            if (linknum != null && linknum != undefined) {
                tablinks[linknum].className += " active";
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
        document.getElementById("defaultOpen").click();
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".navbar-toggle,.canvas-overlay").click(function () {
                if (!$("html").hasClass('intro')) {
                    $("html").addClass("intro");
                }
                else {
                    $("html").removeClass("intro");
                }
            });
            $(".canvas-overlay").click(function () {
                if ($(".navbar-collapse").hasClass('in')) {
                    $(".navbar-collapse").removeClass("in");
                }
            });
        });
    </script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            if (window.location.hash) {
                var hash = window.location.hash.substring(1);
                if (hash == 'deposit') {
                    document.getElementById("depositOpen").click();
                }
                if (hash == 'withdrawal') {
                    document.getElementById("withdrawalOpen").click();
                }
                if (hash == 'transfer') {
                    document.getElementById("transferOpen").click();
                }


                if (hash == 'history') {
                    document.getElementById("historyOpen").click();
                }
                if (hash == 'restore') {
                    document.getElementById("restoreOpen").click();
                }
                if (hash == 'statement') {
                    document.getElementById("statementOpen").click();
                }
                if (hash == 'rebate') {
                    document.getElementById("restoreOpen").click();
                }
                if (hash == 'promotion') {
                    document.getElementById("promotionOpen").click();
                }
            }

        });
        $(window).on('hashchange', function (e) {
            if (!location.href.toLowerCase().includes("account/profile"))
                if (window.location.hash) {
                    var hash = window.location.hash.substring(1);
                    if (hash == 'deposit') {
                        document.getElementById("depositOpen").click();
                    } if (hash == 'withdrawal') {
                        document.getElementById("withdrawalOpen").click();
                    } if (hash == 'transfer') {
                        document.getElementById("transferOpen").click();
                    }
                    if (hash == 'history') {
                        document.getElementById("historyOpen").click();
                    }
                    if (hash == 'restore') {
                        document.getElementById("restoreOpen").click();
                    }
                    if (hash == 'statement') {
                        document.getElementById("statementOpen").click();
                    }
                    if (hash == 'rebate') {
                        document.getElementById("restoreOpen").click();
                    }
                    if (hash == 'promotion') {
                        document.getElementById("promotionOpen").click();
                    }
                }
        });
    </script>
    <script>
        $(document).ready(function () {
            if (localStorage.getItem('currentUser') == null) {
                document.getElementById('logout').style.display = "none";
                document.getElementById('AccountAfterLogin').style.display = "none";
                document.getElementById('balanceAfterShow').style.display = "none";
                document.getElementById('afterLoginAnnouncementMobile').style.display = "none";
                document.getElementById('walletFooterAfterLogin').style.display = "none";
            }
            else {
                document.getElementById('login').style.display = "none";
                document.getElementById('beforeLoginAnnouncementMobile').style.display = "none";
                document.getElementById('walletFooterBeforeLogin').style.display = "none";
            }
        });
    </script>
    <script type="text/javascript" charset="utf-8">
        $(".form_datetime").datetimepicker({ autoclose: true });
    </script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        $("#gameLoadFrame").click(function () {
            $("#gameLoadFrame").removeClass("in");
            document.getElementById("gameLoadFrame").style.display = 'none';
            document.getElementById("gameFrame").src = '';
        });
    </script>
    <script>
        $(function () {
            $(".preload").fadeOut(2000, function () {
                // $(".content").fadeIn(1000);
            });
        });
    </script>
    <script type="text/javascript" charset="utf-8">
        $(document).on('ready', function () {
            if (window.location.href === "http://localhost:27100" || window.location.href == "http://www.webet333.com") {
                fillByMemory()
                if ($('#remember_me').val()) {
                    rememberMe();
                }
            }
        });

        function rememberMe() {
            $.cookie('id', $('#txt_login_username').val());
            $.cookie('pass', $('#txt_login_password').val());

        }

        function fillByMemory() {
            if (!!$.cookie('id'))
                $('#txt_login_username').val($.cookie('id'));

            if (!!$.cookie('pass'))
                $('#txt_login_password').val($.cookie('pass'));
        }
        $(document).click(function () {
            $("#myDropdown").removeClass("in");
        });
    </script>
    <script type="text/javascript" charset="utf-8">
        $(document).on('ready', function () {
            $('.one-time').slick({
                dots: true,
                infinite: true,
                speed: 5000,
                autoplay: true,
                slidesToShow: 1,
                adaptiveHeight: true
            });
        });
    </script>

    <!-- Slider Section End -->
    <script>
        $(window).scroll(function () {
            var scroll = $(window).scrollTop();
            if (scroll >= 1) {
                $("header").addClass("sticky-header");
            }
            else {
                $("header").removeClass("sticky-header");
            }
        });
    </script>
    <script type="text/javascript">
        function calcTime(offset) {
            d = new Date();
            utc = d.getTime() + (d.getTimezoneOffset() * 60000);
            nd = new Date(utc + (3600000 * offset));
            return nd.toLocaleString(nd, 'HH:mm');
        }
        if (GetLocalStorage('currentUser') !== null)
            if (document.getElementById("lbl_TimeafterLogin") !== null)
                document.getElementById("lbl_TimeafterLogin").innerText = (calcTime('+8'));
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.tablinks').click(function () {
                //var offset = $('body').offset();
                //window.scrollTo(offset);
            });
        })



        var counter = 0;

        $("html").mousemove(async function (event) {
            ++counter;
            if (counter == 500) {
                if (GetLocalStorage('currentUser') !== null) {
                    PostMethodWithParameter(apiEndPoints.userLastTimeUpdate, {});
                }
                counter = 0;
            }
        });
        $("li").click(async function (event) {
            if (GetLocalStorage('currentUser') !== null) {
                PostMethodWithParameter(apiEndPoints.userLastTimeUpdate, {});
            }
        });

    </script>
    <script>
        function CloseIframe() {
            document.getElementById("mainpagebody").style.display = "";
            document.getElementById("iframeModel").style.display = "none";
            document.getElementById("gameFrame").src = "";
        }
    </script>
</body>
</html>
