<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168889054-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-168889054-1');
    </script>
    <meta name="keywords" content="Webet333.com | Cash Market, Online Casino, Malaysia Online Casino, 918Kiss, AG Casino, Playtech Casino, Joker Casino, Joker Slot, M8 Sports, 24x7 Casino, Malaysia Casino, 100% Welcome Bonus Casino, 150% Welcome Bonus Casino, 10% Extra jackpot casino, 10% Extra bonus casino" />
    <meta name="description" content="Webet333.com | Trusted Online Casino Malaysia, Malaysia Online Casino, 918Kiss, AG Casino, Playtech Casino, Joker Casino, Joker Slot, M8 Sports, 24x7 Casino, Malaysia Casino, 200% Welcome Bonus Casino, 150% Welcome Bonus Casino, 10% Extra jackpot casino, 10% Extra bonus casino" />
    <meta name="author" content="" />
    <meta name="title" content="Webet333 🥇" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Webet333 -🥇 Trusted Online casino Malaysia</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/images/mobile/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/mobile/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/mobile/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/mobile/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/mobile/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/mobile/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/mobile/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/mobile/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/mobile/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/mobile/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/mobile/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/mobile/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/mobile/favicon/favicon-16x16.png">
    <link rel="manifest" href="~/images/mobile/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/images/mobile/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link href="~/css/jcf.css" rel="stylesheet" />

    <link href="~/css/fontawesome.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/mobile/mob-style.css" rel="stylesheet" />
    <link href="~/css/mobile/mobile-style.css" rel="stylesheet" />

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <link href="../../css/bootstrap-datetimepicker.css" type="text/css" rel="stylesheet" />
    <link href="../../css/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" />
    <script src="../../js/datepicker.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/bootstrap-datetimepicker.js" type="text/javascript" charset="utf-8"></script>
    <script src="../../js/bootstrap-datetimepicker.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="~/js/helpers/toastrHelpers.js"></script>
    <script src="~/js/constants/apiConsts.js"></script>
    <script src="~/js/helpers/apiHelpers.js"></script>
    <script src="~/js/helpers/storageHelpers.js"></script>

    <script src="~/js/bootstrap.js"></script>


    <link href="~/css/toastr.min.css" rel="stylesheet" />
    <script src="~/js/toastr.min.js"></script>

    <script src="~/js/constants/M8Consts.js"></script>
    <script src="~/js/constants/918KissConsts.js"></script>
    <script src="~/js/constants/AGConsts.js"></script>
    <script src="~/js/constants/apiConsts.js"></script>
    <script src="~/js/constants/JokerConsts.js"></script>
    <script src="~/js/constants/PlaytechConsts.js"></script>
    <script src="~/js/constants/SMSConsts.js"></script>
    <script src="~/js/constants/SecurityConsts.js"></script>
    <script src="~/js/mobile/m_home.js"></script>
    <script src="~/js/mobile/m_account.js"></script>
    <script src="~/js/mobile/m_getbalance.js"></script>
    <script src="~/js/mobile/m_gamelogin.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
    <script type="text/javascript">
        $(window).load(function () {
            $(".loadingImage").fadeOut("slow");;
        });
    </script>
    <script>
        function language(value) {
            SetLocalStorage('language', value);
            get();
            location.reload();
        }
        function get() {
            (GetLocalStorage('language') === null) ? SetLocalStorage('language', 'en-US') : false;
            if (GetLocalStorage('currentUser') === null) {
                // window.location.href = "./Home"
            }
            if (GetLocalStorage('currentUser') !== null) {
                //document.getElementById('afterlogin_mobile').style.display = 'none';
            }
            $.ajax({
                url: '../../resources/strings.' + GetLocalStorage('language') + '.json',
                dataType: 'json',
                async: false,
                success: function (lang) {
                    $('.lang').each(function (index, element) {
                        $(this).text(lang[$(this).attr('key')]);
                    });
                    $("[data-translate]").each(function () {
                        if ($(this).is("input")) {
                            $(this).attr('placeholder', lang[$(this).data("translate")]);
                        } else {
                            $(this).text(lang[$(this).data("translate")]);
                        }
                    });
                }
            });
            announcementMobile();
        }
    </script>

    <script>
        function requestDesktopSite() {
            if (document.getElementsByTagName('meta')['viewport'].content == 'width= 1440px;') {
                document.getElementsByTagName('meta')['viewport'].content = 'width= 400px;';
            } else {
                window.location.replace = "/";
                document.getElementsByTagName('meta')['viewport'].content = 'width= 1440px;';
            }
        }
    </script>

    <script>
        $(document).ready(function () {
            announcementMobile();
        });
        async function announcementMobile() {
            var marquee = document.getElementById('p_announcement_mobile');
            var marquee_one = document.getElementById('p_announcement_mobile_one');
            if (marquee !== null || marquee_one !== null) {
                var res = await GetMethod(apiEndPoints.announcementList);
                for (i = 0; i < res.data.length; i++) {
                    marquee_one.innerHTML = "";
                    marquee_one.innerHTML += '<span>' + res.data[i].announcement + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>';
                }
            }
        }

        /**/</script>
</head>

<body onload="get()" id="hideBody">
    <div class="loadingImage"></div>

    <div id="success_snackbar">
        <div>
            <span><img class="Image" width="100px" height="100px" src="~/images/success.png" /></span>
        </div>
        <div class="message">
            <span id="SuccessMessage">
            </span>
        </div>
    </div>

    <div id="error_snackbar">
        <div>
            <span><img class="Image" width="100px" height="100px" src="~/images/Error.png" /></span>
        </div>
        <div class="message">
            <span id="ErrorMessage">
            </span>
        </div>
    </div>

    <div id="afterlogin_mobile">
        <div class="sidebar">
            <div class="navbar-collapse" id="myNavbar">
                <ul class="nav text-center mob-menu">
                    <li id="logout"><a onclick="logoutMain(1)"><i class="fa fa-sign-out" aria-hidden="true"></i><p class="lang" key="sidebar_Logout"></p></a></li>
                    <li id="login"><a href="~/../Mobile/Login" rel="prefetch"><i class="fa fa-sign-in" aria-hidden="true"></i><p class="lang" key="sidebar_login"></p></a></li>
                    <li><a href="~/Mobile/home" rel="prefetch"><img src="~/images/images-mobile/home_side.png" alt="mn-home"><p class="lang" key="menu_home"></p></a></li>
                    <li id="downloadpage"><a href="~/Mobile/download?id=918DownloadTab" rel="prefetch"><img src="~/images/images-mobile/download.png" alt="mn-download"><p class="lang" key="sidebar_Download"></p></a></li>
                    <li><a href="~/Home/home" rel="prefetch"><img src="~/images/images-mobile/desktop.png" alt="mn-desktop"><p class="lang" key="sidebar_Desktop"></p></a></li>
                    <li><a href="#" data-toggle="modal" data-target="#language"><img src="~/images/images-mobile/language.png" alt="mn-lang"><p class="lang" key="sidebar_Language"></p></a></li>
                    <li><a href="~/Mobile/about" rel="prefetch"><img src="~/images/images-mobile/about.png" alt="about-us"><p class="lang" key="sidebar_About_US"></p></a></li>
                    <li><a href="~/Mobile/TermandCondtion" rel="prefetch"><img src="~/images/images-mobile/tc.png" alt="Terms & Condition"><p class="lang" key="sidebar_T_&_C"></p></a></li>
                    <li id="accountPage"><a href="~/Mobile/Account" rel="prefetch"><img src="~/images/images-mobile/profile.png" alt="Profile"><p class="lang" key="sidebar_Profile"></p></a></li>
                </ul>
            </div>
        </div>
        <div class="main-content" id="navbarhide">
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="navbar-header mob-layout">
                    <ul>
                        <li>
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </li>
                        <li>
                            <a href="/Mobile/home" class="navbar-brand"><img class="logo" id="MainLogo" src="~/images//webet-main-logo.png" alt="WEBET 333.com"></a>
                        </li>
                        <li id="balanceShow">
                            <div class="dropdown">
                                <button class="btn dropdown-toggle wallet" type="button" data-toggle="dropdown"><figure><img src="~/images/images-mobile/wallet.png" alt="f-wallet"></figure></i></button>
                                <ul class="dropdown-menu wallet-dropdown">
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>Main Wallet</strong></li>
                                            <li class="fright" id="ddlmainWallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>918Kiss Wallet</strong></li>
                                            <li class="fright" id="ddl918KissWallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>AG Wallet</strong></li>
                                            <li class="fright" id="ddlAGWallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>M8 Wallet</strong></li>
                                            <li class="fright" id="ddlM8Wallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>Joker Wallet</strong></li>
                                            <li class="fright" id="ddlJokerWallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>Playtech Wallet</strong></li>
                                            <li class="fright" id="ddlPlaytechWallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>MaxBet Wallet</strong></li>
                                            <li class="fright" id="ddlMaxBetWallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>Mega888 Wallet</strong></li>
                                            <li class="fright" id="ddlMega888Wallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>DG Wallet</strong></li>
                                            <li class="fright" id="ddlDgWallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>Sexy B. Wallet</strong></li>
                                            <li class="fright" id="ddlSexyWallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>SA Wallet</strong></li>
                                            <li class="fright" id="ddlSAWallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>Pussy888 Wallet</strong></li>
                                            <li class="fright" id="ddlPussy888Wallet">feching...</li>
                                        </ul>
                                    </li>
                                    <li>
                                        <ul class="list-inline">
                                            <li><strong>AllBet Wallet</strong></li>
                                            <li class="fright" id="ddlAllbetWallet">feching...</li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            
    <div class="scroll-content" style="padding-bottom:0px;" id="Translation_Option">
                <div class="join-now-section" style="padding-bottom:0px;">
                    <div class="text-center myr-quote">
                        <h4>MYR <span id="menuMainWallet"><img class="loading-gif" src="~/images/loading.gif" /></span><span onclick="RefershBalance()" class="fa fa-refresh"></span></h4>
                    </div>
                    <ul class="account-icon list-inline text-center">
                        <li class="mobile-icon deposit_icon"><a href="~/Mobile/Deposit" rel="prefetch"><span data-translate="mobile_menu_deposit"></span></a></li>
                        <li class="mobile-icon transfer_icon"><a href="~/Mobile/Transfer" rel="prefetch"><span data-translate="mobile_menu_Transfer"></span></a></li>
                        <li class="mobile-icon restore_icon"><a data-toggle="modal" data-target="#RestoreConfirmation" href="#"><span data-translate="mobile_menu_Restore"></span></a></li>
                        <li class="mobile-icon withdraw_icon"><a href="~/Mobile/Withdraw" rel="prefetch"><span data-translate="mobile_menu_Withdraw"></span></a></li>
                        <li class="mobile-icon history_icon"><a href="~/Mobile/History" rel="prefetch"><span data-translate="mobile_menu_History"></span></a></li>
                    </ul>
                    <div class="container" style="background: #ffffff;">
                        <div class="annunce-section d-flex">
                            <p class="annunce-title"><img src="~/images/images-mobile/announcement.png" alt=""></p>
                            <p class="annunce-text mobile-announcment"><marquee class="announcment-font" behavior="scroll" direction="left" scrollamount="10" id="p_announcement_mobile_one"></marquee></p>
                            <div class="clear-fix"></div>
                            <p class="white-text mar-top-ten text-center">Welcome <span id="lbl_usernameHeader"></span></p>
                        </div>
                    </div>
                </div>
            </div> 
        </div>                  
    </div>
    @RenderBody()

    <div class="form-login modal fade" id="gameLogin" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span class="lang" key="alert"></span></h4>
                </div>
                <div class="modal-body">
                    <p class="lang" key="noLogin"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container" id="laguage">
        <div id="language" class="modal fade">
            <div class="modal-dialog mail-width">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <p>Select Language.</p>
                        <ul class="list-inline pad-top-ten">
                            <li><button class="submit" type="button" data-dismiss="modal" onclick="language('en-US')">English</button></li>
                            <li><button class="submit" type="button" data-dismiss="modal" onclick="language('ms-MY')">Malay</button></li>
                            <li><button class="submit" type="button" data-dismiss="modal" onclick="language('zh-Hans')">Chinese</button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-widget" id="footerWidget">
        <ul class="list-inline text-center">
            <li id="homePagebottom">
                <a href="~/Mobile/home" rel="prefetch">
                    <i class="fa fa-home"></i>
                    <p class="white-text no-mar" data-translate="menu_home">Home</p>
                </a>
            </li>
            <li id="promotionPagebottom" class="">
                <a href="~/Mobile/promotions" rel="prefetch">
                    <i class="fa fa-gift"></i>
                    <p class="white-text no-mar" data-translate="Promotion">Promotion</p>
                </a>
            </li>
            <li id="contactusPagebottom">
                <a href="~/mobile/contactus" rel="prefetch">
                    <i class="fa fa-user"></i>
                    <p class="white-text no-mar lang" key="contact_us">Contact Us</p>
                </a>
            </li>
            <li>
                <a href="#" onclick="whatsapp()">
                    <figure><img src="~/images/images-mobile/whatsapp.png" alt="Whats App" /></figure>
                    <p class="white-text no-mar">Whatsapp</p>
                </a>
            </li>
            <li class="live-chat">
                <a class="live-chat-icon"><p class="white-text no-mar" data-translate="Live_chat">Live Chat</p></a>
            </li>
        </ul>
    </div>
    <div>
        <a id="mobileM8" style="display:none"></a>
    </div>

    <div class="form-login modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span class="lang" key="login"></span></h4>
                </div>
                <div class="modal-body">
                    <div role="form">
                        <div class="info-form">
                            <label class="user"><input id="txt_login_username" name="txt_username" type="text" class="reg-form" data-translate="username_placeholder" placeholder="Username" value=""></label>
                            <label class="lock"><input id="txt_login_password" name="txt_password" autocomplete="new-password"  type="password"    class="reg-form" data-translate="password_placeholder" placeholder="Password"></label>
                            <div class="checkbox">
                                <label style="margin-left:15px"><input id="remember_me" type="checkbox" value=""><span class="lang" key="remember"></span></label>
                            </div>
                            <a class="forgot-pass" data-toggle="modal" data-target="#forgot-password"><span class="lang" key="forgot_pasword"></span></a>
                            <div class="log_in text-center">
                                <button class="log_in" onclick="DoLogin(1)"><span class="lang" key="login"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="form-login modal fade" id="gameLogin" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><span class="lang" key="alert"></span></h4>
                </div>
                <div class="modal-body">
                    <p class="lang" key="noLogin"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div id="forgot-password" class="modal fade">
            <div class="modal-dialog mail-width">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <p data-translate="forgtopasswordststic"></p>
                        <label class="num pad-top-ten"><input id="txt_forgot_email" name="txt_forgot_email" type="text" class="reg-form" data-translate="forgtopassword_placeholder" value=""></label>
                        <ul class="list-inline pad-top-ten">
                            <li><button class="submit" type="button" onclick="DoForgotPassword()" data-translate="forgtopassworbutton"></button></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".contact-us-btn,.contact-us-btn-footer").click(function () {
                $("#chatting").toggle();
            });
            $(".contact-user").mouseover(function () {
                $("#chatting").toggle();
            });
        });
    </script>



    <!--Begin Comm100 Live Chat Code-->
    <div></div>
    <script type="text/javascript">
        var Comm100API = Comm100API || {}; (function (t) {
            function e(e) {
                var a = document.createElement("script"),
                    c = document.getElementsByTagName("script")[0];
                a.type = "text/javascript",
                    a.async = !0, a.src = e + t.site_id, a.target = "_blank"
                c.parentNode.insertBefore(a, c)
            } t.chat_buttons = t.chat_buttons || [], t.chat_buttons.push({ code_plan: 425, div_id: "comm100-button-425" }), t.site_id = 233923, t.main_code_plan = 425, e("https://chatserver.comm100.com/livechat.ashx?siteId="), setTimeout(function () {
                t.loaded || e("https://hostedmax.comm100.com/chatserver/livechat.ashx?siteId=")
            }, 5e3)
        })(Comm100API || {})
    </script>
    <!--End Comm100 Live Chat Code-->
    <!-- Slider Section End -->
    <!-- Modal For Video -->
    <script type="text/javascript">
        $(document).ready(function () {
            $(".open-modal").click();
        });
        jQuery(".scroll-down-visible").hide();
        jQuery("#more-arrow").click(function () {
            jQuery(".scroll-down-visible").toggleClass("show");
            jQuery("#more-arrow").toggleClass("rotate");
        });
    </script>

    <!-- //Modal For Video -->
    <script src="~/js/jcf/jcf.js"></script>
    <script src="~/js/jcf/jcf.select.js"></script>
    <script src="~/js/jcf/jcf.checkbox.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(function () {
                jcf.replaceAll();
            });
        });

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".navbar-toggle,.canvas-overlay").click(function () {
                if (!$("html").hasClass('intro')) {
                    $("html").addClass("intro");
                }
                else {
                    $("html").removeClass("intro");
                }
            });
            $(".canvas-overlay").click(function () {
                if ($(".navbar-collapse").hasClass('in')) {
                    $(".navbar-collapse").removeClass("in");
                }
            });
        });
    </script>
    <!-- Slider Section End -->
    <script>
        $(window).scroll(function () {
            var scroll = $(window).scrollTop();
            if (scroll >= 1) {
                $("header").addClass("sticky-header");
            }
            else {
                $("header").removeClass("sticky-header");
            }
        });
    </script>
    <script>
        if (localStorage.getItem('currentUser') == null) {
            //document.getElementById('walletAfterLogin').style.display = "none";
        }
        else {
            //document.getElementById('walletBeforeLogin').style.display = "none";
        }
    </script>
    <script>
        $(document).ready(function () {
            if (localStorage.getItem('currentUser') == null) {
                document.getElementById('logout').style.display = "none";
                document.getElementById('accountPage').style.display = "none";
                document.getElementById('downloadpage').style.display = "none";
                document.getElementById('balanceShow').style.textIndent = "-999px"; 
                document.getElementById("MainLogo").style.marginLeft = "-30px";
            }
            else {
                document.getElementById('login').style.display = "none";
            }

            if (location.href.toLowerCase().includes("mobile/login") || location.href.toLowerCase().includes("mobile/register") || location.href.toLowerCase().includes("mobile/forgetpassword")) {
                document.getElementById("footerWidget").innerHTML = "";
            }
        });
 

        $("html").click(async function (event) {
            if (GetLocalStorage('currentUser') !== null) {
                await PostMethodWithParameter(apiEndPoints.userLastTimeUpdate, {});
            }
        });

        
    </script>
</body>
</html>