@page
@{
    ViewData["Title"] = "About Us";
    Layout = "~/Pages/Shared/LayoutMobile.cshtml";
}
    <script>
    document.getElementById("navbarhide").style.display = "none";
    document.getElementById("hideBody").style.padding = "0px";
    document.getElementById("Translation_Option").innerHTML = "";
    </script>

<title>Webet333 - @ViewData["Title"] </title>
<div class="account-reg pad-comman-fifteen mar-fifty white-bg-tab-panel white-bg" style="height:100%;">
    @*<h4 class="about-icon symbol mar-btm-ten"><strong><span class="lang" key="about_us_page"></span></strong></h4>*@
    <div class="info-form text-center">
        <div class="row">
            <div class="col-xs-2">
                <div class="back-btn"><a href="../Mobile/home" rel="prefetch"><img class="tab-bankicon" src="~/images/mobile/BackArrow_svg.svg" alt="" /></a></div>
            </div>
            <div class="col-xs-8">
                <h4 class="black-text lang" key="about_us_page"></h4>
            </div>
        </div>
    </div>
    <br /><br />
    <div class="row">
        <div class="col-sm-12">
            <div class="about-content white-text">
                <p>
                    WEBET333 is the Malaysia Trusted Online Casino that focused mainly on sportsbook betting, live casino,slot game & lottery.  Players can easy get in touch with us anytime, anywhere as just able to access internet. Our services are available 24hours a day, 7days a week.
                </p>
                <p>Join us now, we guaranteed WEBET333 is platform providing the BEST online betting enviroment you never enjoy compare with others.</p>
                <p>WEBET333 is rapidly growing in Online Casino Malaysia market that you won’t want to miss. Here Webet333 Top Malaysia Online Casino allowing everyone to play Online Betting Malaysia games or bet on their favourite sports matches easily with peace of mind.</p>
                <p>We also provide the most elite online slot games- Likes 918 KISS .</p>
                <p>Lets create an account and secure your seat now  with just a few speedy and easy steps, you could start your new journey to being one of our potential big winners!</p>
                <p>At the last, we guarantee you that we are the best Online Casino Malaysia site, provide the best service and make sure that all of your personal information is kept confidential.</p>
                <p>Our Core value: <span>Trusted & Best Service</span></p>
            </div>
        </div>
    </div>
    <div class="mar-comman">
    </div>
</div>


