@page
@{
    ViewData["Title"] = "Contact Us";
    Layout = "~/Pages/Shared/LayoutMobile.cshtml";
}
<title>Webet333 - @ViewData["Title"] </title>
<script>
    document.getElementById("Translation_Option").innerHTML = "";
    setTimeout(function () {
        $('#contactusPagebottom').addClass("active-link");
    }, 2000);


</script>

<div class="promotion-title black-bg text-center">
    <div class="container">
        <h4 class="white-text lang" key="">Contact Us</h4>
    </div>
</div>
<div class="account-reg white-bg radius-border account-page-extra-padding">
    <div class="container" style="margin-bottom:100px;" id="Contact">
        <div class="info-form text-center">
            @* <div class="back-btn"><a href="../Mobile/home" rel="prefetch"><img class="tab-bankicon" src="~/images/mobile/BackArrow_svg.svg" alt="" /></a></div> *@
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <table cellpadding="0" cellspacing="0" style="text-align:center;width:100%;border-color:white;">
                    <tr>
                        <td colspan="2" style="padding:10px;"><h5 class=""><span>L</span>ive Chat <img src="../../images/hours_24.png" alt="hours 24"></h5></td>
                    </tr>
                </table>
                <br /><br /><br />
                <table class="contact-details-info" cellpadding="0" cellspacing="0" style="text-align:center;width:100%;border-color:white; margin: 0 auto 10px; max-width: 320px;">
                    <tr>
                        <td class="text-right" width="30%"><img class="downloadIconMobile" src="../../images/call.png" alt="Call"><p class="" style="font-size:10px;margin:0px 5px 0px 0px;"><span>Phone</span></p></td>
                        <td class="text-left"><label class="mobile-number"><a class="" href="tel:0340652160"> 03-40652160</a></label></td>
                    </tr>
                </table>
                <table class="contact-details-info" cellpadding="0" cellspacing="0" style="text-align:center;width:100%;border-color:white; margin: 0 auto 10px; max-width: 320px;">
                    <tr>
                        <td rowspan="2" class="text-right" width="30%"><img class="downloadIconMobile" src="../../images/whatsapp.png" alt="Call"><p class="" style="font-size:10px;margin:0px 0px 0px 0px;"><span>Whatsapp</span></p></td>
                        <td class="text-left"><label class="mobile-number"><a class="" href="https://api.whatsapp.com/send?phone=601133333765">+6011-33333765 (Click Chat)</a></label></td>
                    </tr>
                    <tr>
                        <td class="text-left"><label class="mobile-number"><a class="" href="https://api.whatsapp.com/send?phone=60149232127">+6014-9232127  (Click Chat)</a></label></td>
                    </tr>
                </table>
                <table class="contact-details-info" cellpadding="0" cellspacing="0" style="text-align:center;width:100%;border-color:white; margin: 0 auto 10px; max-width: 320px;">
                    <tr>
                        <td rowspan="2" class="text-right" width="30%"><img class="downloadIconMobile" src="../../images/wechat.png" alt="We Chat"><p class="" style="font-size:10px;margin:0px 0px 0px 0px;"><span>Wechat</span></p></td>
                    </tr>
                    <tr>
                        <td>
                            <div style="text-align: center;">
                                <div style="border:2px solid black;width:69%;padding:10px; border-radius: 20px; width: 150px;">
                                    <img style="width:100px;height:100px;text-align:center;" src="~/images/barcode-cs1.jpg" alt="barcode">
                                    <p>Webet333</p>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <table class="contact-details-info" cellpadding="0" cellspacing="0" style="text-align:center;width:100%;border-color:white; margin: 0 auto 10px; max-width: 320px;">
                    <tr>
                        <td class="text-right" width="30%"><img class="downloadIconMobile" src="../../images/telegram.png" alt="Call"><p class="" style="font-size:10px;margin:0px 5px 0px 0px;"><span>Telegram</span></p></td>
                        <td class="text-left"><label class="mobile-number"><a class="" href="#"> @@webetcs1</a></label></td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" style="text-align:center;width:100%;border-color:white;">
                    <tr>
                        <td colspan="2">
                            <div class="footer-quote">
                                @*<p class="text-center  copyright-text">&copy; Webet333.com Copyright</p>*@
                            </div>
                        </td>
                    </tr>
                </table>

            </div>
        </div>
    </div>
</div>

@*<div class="live-chat">
    <div data-id="311d59d170" class="livechat_button"></div>
</div>*@

@*<div class="container" style="margin-bottom:100px;" id="Contact-login">
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <table cellpadding="0" cellspacing="0" style="text-align:center;width:100%;border-color:white;">
                    <tr>
                        <td colspan="2"><h2 class="text-center ">CONTACT US</h2></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="padding:10px;"><h5 class=""><span>L</span>ive Chat <img src="../../images/hours_24.png" alt="hours 24"></h5></td>
                    </tr>
                </table>
                <br /><br /><br />
                <table class="contact-details-info" cellpadding="0" cellspacing="0" style="text-align:center;width:100%;border-color:white; margin: 0 auto 10px; max-width: 320px;">
                    <tr>
                        <td rowspan="2" class="text-right" width="30%"><img class="downloadIconMobile" src="../../images/call.png" alt="Call"><p class="" style="font-size:10px;margin:0px 5px 0px 0px;"><span>Phone</span></p></td>
                        <td class="text-left"><label class="mobile-number"><a class="" href="tel:60135888837"> +60 - 135888837</a></label></td>
                    </tr>
                    <tr>
                        <td class="text-left"><label class="mobile-number"><a class="" href="tel:60135888820"> +60 - 135888820</a></label></td>
                    </tr>
                </table>
                <table class="contact-details-info" cellpadding="0" cellspacing="0" style="text-align:center;width:100%;border-color:white; margin: 0 auto 10px; max-width: 320px;">
                    <tr>
                        <td rowspan="2" class="text-right" width="30%"><img class="downloadIconMobile" src="../../images/whatsapp.png" alt="Call"><p class="" style="font-size:10px;margin:0px 0px 0px 0px;"><span>Whatsapp</span></p></td>
                        <td class="text-left"><label class="mobile-number"><a class="" href="https://api.whatsapp.com/send?phone=60135888837"> Click to chat</a></label></td>
                    </tr>
                    <tr>
                        <td class="text-left"><label class="mobile-number"><a class="" href="https://api.whatsapp.com/send?phone=60135888820">Click to chat</a></label></td>
                    </tr>
                </table>
                <table class="contact-details-info" cellpadding="0" cellspacing="0" style="text-align:center;width:100%;border-color:white; margin: 0 auto 10px; max-width: 320px;">
                    <tr>
                        <td rowspan="2" class="text-right" width="30%"><img class="downloadIconMobile" src="../../images/wechat.png" alt="We Chat"><p class="" style="font-size:10px;margin:0px 0px 0px 0px;"><span>Wechat</span></p></td>
                    </tr>
                    <tr>
                        <td>
                            <div style="text-align: center;">
                                <div style="border:2px solid #fff;width:69%;padding:10px; border-radius: 20px; max-width: 150px;">
                                    <img style="width:100px;height:100px;text-align:center;" src="~/images/barcode-cs1.jpg" alt="barcode">
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" style="text-align:center;width:100%;border-color:white;">
                    <tr>
                        <td colspan="2">
                            <div class="footer-quote">
                                <p class="text-center  copyright-text">&copy; Webet333.com Copyright</p>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

    </div>*@

@*<div class="live-chat">
    <div data-id="311d59d170" class="livechat_button"></div>
</div>*@

<script type="text/javascript">
    window.__lc = window.__lc || {};
    window.__lc.license = 10659042;
    (function () {
        var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
        lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
    })();
</script>
<noscript>
    <a href="https://www.livechatinc.com/chat-with/10659042/" rel="nofollow">Chat with us</a>,
    powered by <a href="https://www.livechatinc.com/?welcome" rel="noopener nofollow" target="_blank">LiveChat</a>
</noscript>

