@page
@{
    ViewData["Title"] = "Download";
    Layout = "~/Pages/Shared/LayoutMobile.cshtml";
}

<title>Webet333 - @ViewData["Title"] </title>
<script>
    document.getElementById("navbarhide").style.display = "none";
    document.getElementById("hideBody").style.padding = "0px";
    document.getElementById("Translation_Option").innerHTML = "";
    if (GetLocalStorage('currentUser') === null)
        window.location = "../Mobile/home";
</script>



<script src="~/js/mobile/m_download.js"></script>

<div class="banner main-content account-reg white-bg radius-border">
    <div class="profile-page">
        <div class="container">
            <div class="info-form text-center">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="back-btn"><a href="../Mobile/home" rel="prefetch"><img class="tab-bankicon" src="~/images/mobile/BackArrow_svg.svg" alt="" /></a></div>
                    </div>
                    <div class="col-xs-8">
                        <h4 class="profile-sub bg-no-repeat text-center blk-text lang" key="menu_download"></h4>
                    </div>
                </div>
            </div>
            <div class="test">
                <div class="profile-subdetail mar-fifty">
                    <div class="info-form history-tabs">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#918Download" id="918DownloadTab">918 Kiss</a></li>
                            <li><a data-toggle="tab" href="#JokerDownload" id="JokerDownloadTab">Joker</a></li>
                            <li><a data-toggle="tab" href="#MegaDownload" id="MegaDownloadTab">Mega</a></li>
                            <li><a data-toggle="tab" href="#Pussy888Download" id="Pussy888DownloadTab">Pussy888</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="918Download" class="tab-pane fade in active">
                            <div class="tabcontent white-bg-tab-panel account-reg radius-none">
                                <div class="info-form marginb-none">
                                    <h4 class=" bg-no-repeat symbol lang download-icon mar-btm-ten"><strong class="lang" key="menu_download">DOWNLOAD</strong></h4>
                                </div>
                                <div id="download-process">
                                    <ul>
                                        <li class="playstore">
                                            <div class="icon-name">
                                                <i class="fa fa-android text-green" style="font-size:24px;"></i><label class="text-center mar-top-ten">Android</label>
                                            </div>
                                            <figure>
                                                <img id="918KissAndroidBarcode" class="Qrcode" src="~/images/game-barcode.jpg" alt="barcode">
                                            </figure>
                                            <div class="mar-top-15">
                                                <button id="bt_down_apk_918" type="button" class="btn btn-block btn-success btn-lg btn-barcode">Android</button>
                                            </div>
                                        </li>
                                        <li class="playstore">
                                            <div class="icon-name">
                                                <i class="fa fa-apple text-red" style="font-size:24px;"></i><label class="text-center mar-top-ten">IOS(Iphone 5s+)</label>
                                            </div>
                                            <figure>
                                                <img id="918KissIOS64Barcode" class="Qrcode" src="~/images/game-barcode.jpg" alt="barcode">
                                            </figure>
                                            <div class="mar-top-15">
                                                <button id="bt_down_ios_918" type="button" class="btn btn-block btn-danger btn-lg btn-barcode">IOS 64 Bit</button>
                                            </div>
                                        </li>
                                        <li class="playstore">
                                            <div class="icon-name">
                                                <i class="fa fa-apple text-yellow" style="font-size:24px;"></i><label class="text-center mar-top-ten">IOS(Iphone 5 Or 5-)</label>
                                            </div>
                                            <figure>
                                                <img id="918KissIOSBarcode" class="Qrcode" src="~/images/game-barcode.jpg" alt="barcode">
                                            </figure>
                                            <div class="mar-top-15">
                                                <button id="bt_down_ios32__918" type="button" class="btn btn-block btn-yellow btn-lg btn-barcode">IOS 32 Bit</button>
                                            </div>
                                        </li>
                                        <div class="clear-fix"></div>
                                    </ul>

                                    <div class="access-info download-info">
                                        <p class="white-text blue-bg text-center no-mar"><spam class="lang" key="your_access_information"></spam></p>
                                        <div class="border-bottom no-mar">
                                            <div class="col-sm-5">
                                                <p class="grey-text"><span>918Kiss <span class="lang" key="username"></span></span></p>
                                            </div>
                                            <div class="col-sm-7" style="border-left:1px solid #d7d7d7">
                                                <p class="grey-text text-center" id="_918userName"></p>
                                            </div>
                                        </div>
                                        <div class="no-mar">
                                            <div class="col-sm-5">
                                                <p class="grey-text"><span>918Kiss <span class="lang" key="password"></span></span></p>
                                            </div>
                                            <div class="col-sm-7 text-center" style="border-left:1px solid #d7d7d7">
                                                <p class="grey-text text-center" id="_918resetpassword">
                                                    <label id="_918resetpasswordDownload" class="grey-text text-center"></label>
                                                    <label class="grey-text text-center" id="reset918password">
                                                        <a onclick="ChangePassword(1)" class="grey-text">&nbsp;&nbsp;&nbsp;&nbsp;Reset</a>
                                                    </label>
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="container" >
                                        <div class="row">
                                            <div class="col-sm-12 text-center">
                                                <input type="button" class="col-sm-4 mar-top-15 btn btn-success" onclick="LaunchGameAndroid(1)" value="Launch Android" /><br />
                                                <button class="col-sm-4 mar-top-15 btn btn-success" onclick="LaunchGameIOS64(1)">Launch IOS 64 Bit</button><br />
                                                <button class="col-sm-4 mar-top-15 btn btn-success" onclick="LaunchGameIOS32(1)">Launch IOS 32 Bit</button><br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div id="JokerDownload" class="tab-pane fade">
                            <div class="tabcontent white-bg-tab-panel account-reg radius-none">
                                <div class="info-form marginb-none">
                                    <h4 class=" bg-no-repeat symbol lang download-icon mar-btm-ten"><strong class="lang" key="menu_download">DOWNLOAD2</strong></h4>
                                </div>
                                <div id="download-process">
                                    <ul class="mar-btm-twentyfive">
                                        <li class="playstore">
                                            <div class="icon-name">
                                                <i class="fa fa-android text-green" style="font-size:24px;"></i><label class="text-center mar-top-ten">Android</label>
                                            </div>
                                            <figure>
                                                <img id="JokerAndroidBarcode" class="Qrcode" src="~/images/game-barcode.jpg" alt="barcode">
                                            </figure>
                                            <div class="text-center mar-top-15">
                                                <button id="bt_down_apk_joker" type="button" class="btn btn-block btn-success btn-lg btn-barcode" onfocus="this.blur()">Android</button>
                                            </div>
                                        </li>
                                        <li class="appstore">
                                            <div class="text-center icon-name">
                                                <i class="fa fa-apple text-red" style="font-size:24px;"></i><label class="text-center mar-top-ten">IOS</label>
                                            </div>
                                            <figure>
                                                <img id="JokerIOSBarcode" class="Qrcode" src="~/images/game-barcode.jpg" alt="barcode">
                                            </figure>
                                            <div class="text-center mar-top-15">
                                                <button id="bt_down_ios_joker" type="button" class="btn btn-block btn-danger btn-lg btn-barcode" onfocus="this.blur()">IOS 64 Bit</button>
                                            </div>
                                        </li>
                                        <div class="clear-fix"></div>
                                    </ul>
                                    <div class="access-info  download-info">
                                        <p class="white-text blue-bg text-center no-mar"><spam class="lang" key="your_access_information"></spam></p>
                                        <div class="border-bottom no-mar">
                                            <div class="col-sm-5">
                                                <p class="grey-text"><span>Joker <span class="lang" key="username"></span></span></p>
                                            </div>
                                            <div class="col-sm-7" style="border-left:1px solid #d7d7d7">
                                                <p class="grey-text text-center" id="JokeruserName"></p>
                                            </div>
                                        </div>
                                        <div class="no-mar">
                                            <div class="col-sm-5">
                                                <p class="grey-text"><span>Joker <span class="lang" key="password"></span></span></p>
                                            </div>
                                            <div class="col-sm-7 text-center" style="border-left:1px solid #d7d7d7">
                                                <p class="grey-text text-center" id="Jokerresetpassword">
                                                    <a href="#" class="grey-text">Your WEBET333.COM Password</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="MegaDownload" class="tab-pane fade">
                            <div class="tabcontent white-bg-tab-panel account-reg radius-none">
                                <div class="info-form marginb-none">
                                    <h4 class=" bg-no-repeat symbol lang download-icon mar-btm-ten"><strong class="lang" key="menu_download">DOWNLOAD3</strong></h4>
                                </div>
                                <div id="download-process">
                                    <ul>
                                        <li class="playstore">
                                            <div class="icon-name">
                                                <i class="fa fa-android text-green" style="font-size:24px;"></i><label class="text-center mar-top-ten">Android</label>
                                            </div>
                                            <figure>
                                                <img id="Mega888AndroidBarcode" class="Qrcode" src="~/images/game-barcode.jpg" alt="barcode">
                                            </figure>
                                            <div class="mar-top-15">
                                                <button id="bt_down_apk_mega" type="button" class="btn btn-block btn-success btn-lg btn-barcode" onfocus="this.blur()">Android</button>
                                            </div>
                                        </li>
                                        <li class="playstore">
                                            <div class="icon-name">
                                                <i class="fa fa-apple text-red" style="font-size:24px;"></i><label class="text-center mar-top-ten">IOS(Iphone 5s+)</label>
                                            </div>
                                            <figure>
                                                <img id="MegaIOS64Barcode" class="Qrcode" src="~/images/game-barcode.jpg" alt="barcode">
                                            </figure>
                                            <div class="mar-top-15">
                                                <button id="bt_down_ios_mega" type="button" class="btn btn-block btn-danger btn-lg btn-barcode" onfocus="this.blur()">IOS 64 Bit</button>
                                            </div>
                                        </li>
                                        <li class="playstore">
                                            <div class="icon-name">
                                                <i class="fa fa-apple text-yellow" style="font-size:24px;"></i><label class="text-center mar-top-ten">IOS(Iphone 5 Or 5-)</label>
                                            </div>
                                            <figure>
                                                <img id="MegaIOSBarcode" class="Qrcode" src="~/images/game-barcode.jpg" alt="barcode">
                                            </figure>
                                            <div class="mar-top-15">
                                                <button id="bt_down_ios32_mega" type="button" class="btn btn-block btn-yellow btn-lg btn-barcode" onfocus="this.blur()">IOS 32 Bit</button>
                                            </div>
                                        </li>
                                        <div class="clear-fix"></div>
                                    </ul>

                                    <div class="access-info download-info">
                                        <p class="white-text blue-bg text-center no-mar"><spam class="lang" key="your_access_information"></spam></p>
                                        <div class="border-bottom no-mar">
                                            <div class="col-sm-5">
                                                <p class="grey-text"><span>Mega888 <span class="lang" key="username"></span></span></p>
                                            </div>
                                            <div class="col-sm-7" style="border-left:1px solid #d7d7d7">
                                                <p class="grey-text text-center" id="mega888username">&nbsp;</p>
                                            </div>
                                        </div>
                                        <div class="no-mar">
                                            <div class="col-sm-5">
                                                <p class="grey-text"><span>Mega888 <span class="lang" key="password"></span></span></p>
                                            </div>
                                            <div class="col-sm-7 text-center" style="border-left:1px solid #d7d7d7">
                                                <p class="grey-text text-center" id="mega888password">
                                                    <a href="#" class="grey-text">Your WEBET333.COM Password</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="Pussy888Download" class="tab-pane fade">
                            <div class="tabcontent white-bg-tab-panel account-reg radius-none">
                                <div class="info-form marginb-none">
                                    <h4 class=" bg-no-repeat symbol lang download-icon mar-btm-ten"><strong class="lang" key="menu_download">DOWNLOAD2</strong></h4>
                                </div>
                                <div id="download-process">
                                    <ul class="mar-btm-twentyfive">
                                        <li class="playstore">
                                            <div class="icon-name">
                                                <i class="fa fa-android text-green" style="font-size:24px;"></i><label class="text-center mar-top-ten">Android</label>
                                            </div>
                                            <figure>
                                                <img id="Pussy888AndroidBarcode" class="Qrcode" src="~/images/game-barcode.jpg" alt="barcode">
                                            </figure>
                                            <div class="text-center mar-top-15">
                                                <button id="bt_down_apk_pussy888" type="button" class="btn btn-block btn-success btn-lg btn-barcode" onfocus="this.blur()">Android</button>
                                            </div>
                                        </li>
                                        <li class="appstore">
                                            <div class="text-center icon-name">
                                                <i class="fa fa-apple text-red" style="font-size:24px;"></i><label class="text-center mar-top-ten">IOS</label>
                                            </div>
                                            <figure>
                                                <img id="Pussy888IOSBarcode" class="Qrcode" src="~/images/game-barcode.jpg" alt="barcode">
                                            </figure>
                                            <div class="text-center mar-top-15">
                                                <button id="bt_down_ios_pussy888" type="button" class="btn btn-block btn-danger btn-lg btn-barcode" onfocus="this.blur()">IOS 64 Bit</button>
                                            </div>
                                        </li>
                                        <div class="clear-fix"></div>
                                    </ul>
                                    <div class="access-info  download-info">
                                        <p class="white-text blue-bg text-center no-mar"><spam class="lang" key="your_access_information"></spam></p>
                                        <div class="border-bottom no-mar">
                                            <div class="col-sm-5">
                                                <p class="grey-text"><span>Pussy888 <span class="lang" key="username"></span></span></p>
                                            </div>
                                            <div class="col-sm-7" style="border-left:1px solid #d7d7d7">
                                                <p class="grey-text text-center" id="Pussy888userName"></p>
                                            </div>
                                        </div>
                                        <div class="no-mar">
                                            <div class="col-sm-5">
                                                <p class="grey-text"><span>Pussy888 <span class="lang" key="password"></span></span></p>
                                            </div>
                                            <div class="col-sm-7 text-center" style="border-left:1px solid #d7d7d7">
                                                <p class="grey-text text-center" id="Pussy888password">
                                                    <a href="#" class="grey-text"></a>
                                                </p>
                                                <label class="grey-text text-center" id="reset918password">
                                                    <a onclick="ResetPasswordPussy888()" class="grey-text">&nbsp;&nbsp;&nbsp;&nbsp;Reset</a>
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-12 text-center">
                                                <button class="col-sm-4 mar-top-15 btn btn-success" onclick="LaunchGameAndroid(2)">Launch Android</button>
                                                <button class="col-sm-4 mar-top-15 btn btn-success" onclick="LaunchGameIOS64(2)">Launch IOS </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    function eventFire(el, etype) {
        if (el.fireEvent) {
            el.fireEvent('on' + etype);
        } else {
            var evObj = document.createEvent('Events');
            evObj.initEvent(etype, true, false);
            el.dispatchEvent(evObj);
        }
    }
    var url_string = window.location;
    var url = new URL(url_string);
    var gameName = url.searchParams.get("id");
    if (gameName == null)
        window.location = "../Mobile/home";
    if (gameName == "918DownloadTab" || gameName == "JokerDownloadTab" || gameName == "MegaDownloadTab" || gameName == "Pussy888DownloadTab") {
        eventFire(document.getElementById(gameName), 'click');
    }
    else {
        window.location = "../Mobile/home";
    }

</script>


