@page
@{
    ViewData["Title"] = "Forget-Password";
    Layout = "~/Pages/Shared/LayoutMobile.cshtml";
}
<script>
    document.getElementById("Translation_Option").innerHTML = "";
    document.getElementById("navbarhide").innerHTML = "";
    document.body.classList.add("no-pad-top");
</script>
<div class="white-bg forget-pswd">
    <div class="container">
        <div class="info-form text-center">
            <div class="row">
                <div class="col-xs-2">
                    <div class="back-btn"><a href="../Mobile/home"><img class="tab-bankicon" src="~/images/mobile/BackArrow_svg.svg" alt="" /></a></div>
                </div>
                <div class="col-xs-8">
                    <h4 class="black-text lang" >Reset Password</h4>
                </div>
            </div>
            <div class="info-form text-left forgot-note">Forgot password? Please enter your Registered Phone number to get reset password link</div>
        </div>
    </div>
</div>

<div class="flexible-height login-height white-bg account-page-extra-padding">
    <div class="container" style="margin-bottom:100px;">
        <div class="reg_nav mar-top-15">
            <div class="loin-window">
                <div class="row">
                    <div class="col-xs-12"><form><div class="form-group"><input type="number" data-translate="forgtopassword_placeholder" id="m_txt_mobile" tabindex="1" pattern="\d*"  class="form-control" aria-describedby="emailHelp" autocomplete="new-password" placeholder="Enter Mobile"></div></form></div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><button type="button"class="btn btn-primary login_btn join_btn no-mar-btm" onclick="DoForgotPassword()"><span class="lang" key="forgtopassworbutton">Reset Password</span></button></div>
                </div>
            </div>
        </div>
    </div>
</div>
