@page
@{
    ViewData["Title"] = "History";
    Layout = "~/Pages/Shared/LayoutMobile.cshtml";
}
<script src="~/js/mobile/m_bank.js"></script>
<script>
    DepositHistory();
    TransferHistory();
    WithdrawHistory();
    PromotionHistory();
    StatementHistory();
    RebateHistory();

    document.getElementById("navbarhide").style.display = "none";
    document.getElementById("hideBody").style.padding = "0px";
    document.getElementById("Translation_Option").innerHTML = "";

    if (GetLocalStorage('currentUser') === null)
        window.location = "../Mobile/home";
</script>

<div id="History" class="white-bg history-page">
    <div class="container">
        <div class="info-form text-center">
            <div class="row">
                <div class="col-xs-2">
                    <div class="back-btn"><a href="../Mobile/home" rel="prefetch"><img class="tab-bankicon" src="/images/mobile/BackArrow_svg.svg" alt=""></a></div>
                </div>
                <div class="col-xs-8">
                    <h4 class="black-text lang" key="history"></h4>
                </div>
            </div>
        </div>
    </div>
    <div class="info-form history-tabs">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#profileDeposit"><span key="deposit" class="lang"></span></a></li>
            <li><a data-toggle="tab" href="#profilewithdrawal"><span key="withdrawal_title" class="lang"></span></a></li>
            <li><a data-toggle="tab" href="#profileTransfer"><span key="transfer_title" class="lang"></span></a></li>
            <li><a data-toggle="tab" href="#promotion-apply"><span key="menu_promotion" class="lang"></span></a></li>
            <li><a data-toggle="tab" href="#rebate"><span key="rebate" class="lang"></span></a></li>
            <li><a data-toggle="tab" href="#statement"><span key="statement" class="lang"></span></a></li>
            @*<li><a data-toggle="tab" href="#restore">Restore</a></li>*@

        </ul>
    </div>
    <div class="history-tabs">
        <div class="tab-content">
            <div id="profileTransfer" class="tab-pane fade in ">
                <div class="container full-height listing" id="transferHistory">

                </div>
            </div>

            <div id="profilewithdrawal" class="tab-pane fade">
                <div class="container full-height listing" id="withdrawHistory">
                </div>
            </div>

            <div id="profileDeposit" class="tab-pane fade in active">
                <div class="container full-height listing" id="depositHistory">
                </div>
            </div>

            <div id="promotion-apply" class="tab-pane fade in ">
                <div class="container full-height listing" id="promotionHistory">

                </div>
            </div>

            <div id="rebate" class="tab-pane fade in ">
                <div class="container full-height listing" id="rebateHistory">

                </div>
            </div>

            <div id="statement" class="tab-pane fade in ">
                <div class="container full-height listing" id="statementHistory">

                </div>
            </div>

            @*<div id="restore" class="tab-pane fade in ">
                <div class="container full-height listing" id="restoreHistory">
                    <div class="row transfer-content">
                        <div class="col-xs-1 display-flex">
                            <div class="back-btn rotate">
                                <a href="">
                                    <img class="tab-bankicon" src="/images/mobile/BackArrow_svg.svg" alt="" />
                                </a>
                            </div>
                        </div>
                        <div class="col-xs-4 display-flex">
                            <div class="game-name">
                                <p>652525</p>
                                <div class="game-time">5525</div>
                                <div class="game-date">4555555</div>
                            </div>
                        </div>
                        <div class="col-xs-4 display-flex">
                            <p class="bank-name-detail">3625255</p>
                            <div class="bank-name-amount">2222</div>
                        </div><div class="col-xs-2">
                            <div class="success-btn text-success">2522</div>
                            <div class="text-d">Mainbalance</div>
                        </div>
                    </div>
                </div>
            </div>*@

        </div>
    </div>

</div>
