@page
@{
    ViewData["Title"] = "Login";
    Layout = "~/Pages/Shared/LayoutMobile.cshtml";
}
<script>
    document.getElementById("Translation_Option").innerHTML = "";
    document.getElementById("navbarhide").innerHTML = "";
    document.body.classList.add("no-pad-top");

    if (GetLocalStorage('currentUser') !== null) {
        window.location.href = "../Mobile/home";
    }
</script>
<div class="page-title white-bg text-center logowithback no-pad-top">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <div class="back-btn"><a href="../Mobile/home"><img class="tab-bankicon" src="~/images/mobile/BackArrow_svg.svg" alt="" /></a></div>
            </div>
            <div class="col-xs-8">
                <img class="img-responsive" src="~/images/webet-main-logo.png" alt="Alternate Text" />
            </div>
        </div>
    </div>
</div>
<div class="black-bg text-center profile-area">
    <div class="container">
        <h4 class="white-text lang" key="mobile_login"></h4>
    </div>
</div>
<div class="login-height white-bg account-page-extra-padding">
    <div class="container">
        <div class="reg_nav">
            <div class="loin-window">
                <div class="row row-flex mar-top-15">
                    <div class="col-xs-2"><figure><img src="../images/icon_login_user.png" alt="icon_login_user"></figure></div>
                    <div class="col-xs-10"><form><div class="form-group"><input type="text" id="m_txt_username" autocomplete="new-password" tabindex="1" class="form-control" aria-describedby="emailHelp" placeholder="Username" data-translate="username_placeholder"></div></form></div>
                </div>
                <div class="row row-flex">
                    <div class="col-xs-2"><figure><img src="~/images/icon_login_key.png" alt="icon_login_key"></figure></div>
                    <div class="col-xs-10"><form><div class="form-group"><input   type="password"    data-translate="password_placeholder" id="m_txt_password" tabindex="2" onkeypress="DoLoginOnEnter()" class="form-control" aria-describedby="emailHelp" autocomplete="new-password" placeholder="Password"></div></form></div>
                </div>
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-10">
                        <input type="checkbox" id="m_rember_me" tabindex="3" />
                        <label title="Unchecked state" class="keep-log" for="chk1"><span class="lang" key="remember"></span></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><button type="button" onclick="DoLogin()" tabindex="4" class="btn btn-primary login_btn join_btn"><span class="lang" key="login"></span></button></div>
                    <p class="text-center forgot-psw"><a href="../Mobile/forgetpassword"><span class="lang" key="forgot_pasword"></span></a></p>
                </div>
            </div>
        </div>
        <div class="row mar-15-cmn">
            <div class="col-sm-12">
                <p class="text-center" style="font-size: 10px;">Do not have an account yet? Click <a href="../Mobile/Register"><span class="lang" key="register">HERE</span></a> to register.</p>
            </div>
        </div>
    </div>
</div>

