@page
@{
    ViewData["Title"] = "Register";
    Layout = "~/Pages/Shared/LayoutMobile.cshtml";
}
<script>
    document.getElementById("Translation_Option").innerHTML = "";
    document.getElementById("navbarhide").innerHTML = "";
    document.body.classList.add("no-pad-top");
    $(document).ready(function () {
    if (GetLocalStorage('currentUser') !== null) {
        window.location.href = "../Mobile/home";
        }
    });

    function space() {
        var regex = new RegExp("^[a-zA-Z0-9]+$");
        var key = String.fromCharCode(!event.charCode ? event.which : event.charCode);
        if (!regex.test(key)) {
            event.preventDefault();
            return false;
        }
    }
</script>
<div class="page-title white-bg text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <div class="back-btn"><a href="../Mobile/home"><img class="tab-bankicon" src="~/images/mobile/BackArrow_svg.svg" alt="" /></a></div>
            </div>
            <div class="col-xs-8">
                <h4 class="black-text lang" key="register"></h4>
            </div>
        </div>
    </div>
</div>
<div class="reg_nav register-page-extra-height" >
    <div class="container">
        <div class="step-screen register-pad">
            <ul class="step-listing">
                <li class=""><a href=""></</li>
                <li class=""><a href=""></a></li>
                <li class=" final-phase"><a href="#"></a></li>
            </ul>
            <p class="note-text">- login info -</p>
            <form>
                <div class="form-group register-username-icon"><input type="text" class="form-control" tabindex="1" aria-describedby="emailHelp" id="m_regsiter_username" data-translate="username_placeholder" placeholder="Username" value="" required="" onkeypress="space()" autocomplete="new-password"></div>
                <p class="note no-mar mar-btm-ten"><span class="lang" key="username_instruction"></span></p>
                <div class="form-group register-password-icon"><input type="password" class="form-control" tabindex="2" aria-describedby="emailHelp" id="m_regsiter_password" placeholder="Password" data-translate="password_placeholder" oninput="checkPasswordMatch();" required autocomplete="new-password"></div>
                <p class="note no-mar mar-btm-ten"><span class="lang" key="password_instruction"></span></p>
                <p class="note no-mar mar-btm-ten"><span class="lang" key="password_alpha_instruction"></span></p>
                <p class="note no-mar mar-btm-ten"><span class="lang" key="password_username_same"></span></p>
                <div class="form-group register-password-icon"><input type="password" class="form-control" tabindex="3" aria-describedby="emailHelp" id="m_regsiter_confirmpassword" placeholder="Confirm Password" data-translate="confirm_password_placeholder" oninput="checkPasswordMatch();" required autocomplete="new-password"></div>
                <div class="form-group"><label style="color:#ff0000;font-weight:bold" class="registrationFormAlert" id="divCheckPasswordMatch"> </label></div>
                <div class="form-group register-mobile-icon">
                    <input type="number" pattern="\d*" class="form-control" id="m_regsiter_mobile" placeholder="012-123456789" aria-describedby="emailHelp">
                </div>
                <div class="form-group register-name-icon">
                    <input type="text" class="form-control" data-translate="nric_placeholder" id="m_regsiter_name" placeholder="Full Name as NRIC" value="" required="">
                </div>
                <p class="register-note">By clicking the SUBMIT button, I hereby acknowledge that I am above 18 years old and have read and accepted your terms & conditions.</p>
                <button type="button" class="btn btn-danger join_btn" onclick="DoRegister()"><span class="lang" key="submit_button"></span></button>
            </form>
        </div>
    </div>
</div>

