@page
@{
    ViewData["Title"] = "Transfer";
    Layout = "~/Pages/Shared/LayoutMobile.cshtml";
}
<script src="~/js/mobile/m_bank.js"></script>
<script>
    document.getElementById("navbarhide").style.display = "none";
    document.getElementById("hideBody").style.padding = "0px";
    document.getElementById("Translation_Option").innerHTML = "";
    if (GetLocalStorage('currentUser') === null) {

        window.location = "../Mobile/home";
    }
    UserGameTurnover();
</script>

<div id="Transfer" class="account-reg white-bg radius-border page-extra-padding">
        <div class="container">
            <div class="info-form text-center">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="back-btn"><a href="../Mobile/home" rel="prefetch"><img class="tab-bankicon" src="/images/mobile/BackArrow_svg.svg" alt=""></a></div>
                    </div>
                    <div class="col-xs-8">
                        <h4 class="black-text lang" key="transfer_title"></h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="row transfer-header ">
            <div class="col-sm-12 col-xs-12">
                <div class="col-sm-offset-1 col-xs-offset-1 col-sm-10 col-xs-10">
                    <ul class="margin-top">
                        <li class="text-center black-text">Main Wallet</li>
                        <li class="text-center menuwallet">MYR <span id="menuMainWallet" class="menu-main-wallet"><img class="loading-gif" src="~/images/loading.gif" /></span><span onclick="RefershBalance()" class="fa fa-refresh refersh-btn"></span></li>
                        <li class="text-center"><button class="btn btn-default" data-toggle="modal" data-target="#RestoreConfirmation">Restore</button></li>
                    </ul>
            </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="info-form">
                        <div class="pad-lr-comman">
                            <div class="step-portion">
                                <h5 class="mar-btm-ten lang" key="transfer_transfer_details"></h5>
                                <div class="switch-middle">
                                    <img src="~/images/icon-smart.png" />
                                    <p>Main Wallet Auto Transfer</p>
                                    <p>&nbsp;&nbsp;&nbsp;</p>
                                    <div class="col-lg-1 switch" onclick="onclickSet(0)" id="checkSwitch">
                                        <div class="switch-circle" id="circle-move">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="big-text lang" key="transfer_please_fill_in_the_following_form"></p>
                            <form id="formTransfer">
                                <ul class="password-upadte transfer-page">
                                    <li class="mar-btm-fifteen">
                                        <label class="fleft"><p class="big no-mar lang" key="transfer_from"></p></label>
                                        <label class="fright bank-icon bank-name mendatory">
                                            <select class="main-wallet" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}' id="ddl_transferFromWallet" onchange="select()">
                                                <option value="">-- Select --</option>
                                            </select>
                                            <p class="star">*</p>
                                        </label>
                                    </li>
                                    <li class="mar-btm-fifteen">
                                        <label class="fleft"><p class="big no-mar lang" key="balance"></p></label>
                                        <label class="fright" id="walletBalance">
                                            select Wallet
                                        </label>
                                    </li>
                                    <li class="mar-btm-fifteen">
                                        <label class="fleft"><p class="big no-mar lang" key="transfer_to"></p></label>
                                        <label class="fright bank-icon bank-name mendatory">
                                            <select class="main-wallet" data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false}' id="ddl_transferToWallet">
                                                <option value="">-- Select --</option>
                                            </select>
                                            <p class="star">*</p>
                                        </label>
                                    </li>
                                    <li class="mar-btm-fifteen">
                                        <label class="fleft"><p class="big no-mar lang" key="transfer_amount"></p></label>
                                        <label class="fright bank-icon bank-name mendatory">
                                            <input id="txt_transferAmount" pattern="\d*" name="txt_transferAmount" type="number" class="reg-form" placeholder="Min/Max Limit: 1.00 / 1000.00">
                                            <p class="star">*</p>
                                        </label>
                                    </li>
                                </ul>
                            </form>
                            <div id="transferAmount">
                                <ul class="password-upadte transfer-ammount">
                                    <li class="mar-btm-fifteen">
                                        @*<label class="fleft"><p class="big no-mar lang" key="transfer_amount"></p></label>
                                        <label class="fleft minimum-ammount card-number mendatory">
                                            <input id="txt_transferAmount" name="txt_transferAmount" type="number" class="reg-form" placeholder="Min/Max Limit: 10.00/ 30,000.00">
                                            <p class="star">*</p>
                                            @*<span>Minimum 0.01</span>*@
                                        @*</label>*@
                                        @*<label class="fright mar-btm-fifteen transfer-max" ><a onclick="TransferValidation()"><span class="lang" key="transfer_max"></span></a></label>*@
                                    </li>
                                    <li class="mar-btm-fifteen">
                                        <div class="fright"><button class="submit lang" data-toggle="modal" key="transfer_button" onclick="Checkbalance()" type="button"></button></div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row row-extra">

                <div class="col-sm-12 col-lg-12 total-turnover-chip-mobile">
                    <ul>
                        <li>Total Daily Turnover</li>
                        <li id="TotalTurnover">-</li>
                        <li><span id="spinrefesh" class="fa fa-refresh" onclick="UserGameTurnover()"></span></li>
                    </ul>
                </div>



                <div class="col-xs-4 col-sm-4 transfer-wallet">
                    <div class="transfer-wallet-div">
                        <ul class="text-center">
                            <li class="">918 Kiss</li>
                            <li class="text-primary">MYR</li>
                            <li class="text-primary" id="918KissWallet">0.00</li>
                            <li><button class="btn btn-default btn-default-border" onclick="OpenModelTransferWallet('918Kiss Wallet')"><span class="text-primary">ALL IN</span></button></li>
                        </ul>
                        <div class="turnover-show">
                            <label>Daily Winover</label>
                            <label id="kiss918Turnover">-</label>
                        </div>
                    </div>

                </div>
                <div class="col-xs-4 col-sm-4 transfer-wallet">
                    <div class="transfer-wallet-div">
                        <ul class="text-center">
                            <li class="">Joker</li>
                            <li class="text-primary">MYR</li>
                            <li class="text-primary" id="JokerWallet">0.00</li>
                            <li><button class="btn btn-default btn-default-border" onclick="OpenModelTransferWallet('Joker Wallet')"><span class="text-primary">ALL IN</span></button></li>
                        </ul>
                        <div class="turnover-show">
                            <label>Daily Winover</label>
                            <label id="jokerTurnover">-</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 transfer-wallet">
                    <div class="transfer-wallet-div">
                        <ul class="text-center">
                            <li class="">Mega888</li>
                            <li class="text-primary">MYR</li>
                            <li class="text-primary" id="Mega888Wallet">0.00</li>
                            <li><button class="btn btn-default btn-default-border" onclick="OpenModelTransferWallet('Mega888 Wallet')"><span class="text-primary">ALL IN</span></button></li>
                        </ul>
                        <div class="turnover-show">
                            <label>Daily Winover</label>
                            <label id="mega888Turnover">-</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 transfer-wallet">
                    <div class="transfer-wallet-div">
                        <ul class="text-center">
                            <li class="">AG</li>
                            <li class="text-primary">MYR</li>
                            <li class="text-primary" id="AGWallet">0.00</li>
                            <li><button class="btn btn-default btn-default-border" onclick="OpenModelTransferWallet('AG Wallet')"><span class="text-primary">ALL IN</span></button></li>
                        </ul>
                        <div class="turnover-show">
                            <label>Daily Turnover</label>
                            <label id="agTurnover">-</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 transfer-wallet">
                    <div class="transfer-wallet-div">
                        <ul class="text-center">
                            <li class="">Playtech</li>
                            <li class="text-primary">MYR</li>
                            <li class="text-primary" id="PlaytechWallet">0.00</li>
                            <li><button class="btn btn-default btn-default-border" onclick="OpenModelTransferWallet('PlayTech Wallet')"><span class="text-primary">ALL IN</span></button></li>
                        </ul>
                        <div class="turnover-show">
                            <label>Daily Turnover</label>
                            <label id="playtechTurnover">-</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4 col-sm-4 transfer-wallet">
                    <div class="transfer-wallet-div">
                        <ul class="text-center">
                            <li class="">M8</li>
                            <li class="text-primary">MYR</li>
                            <li class="text-primary" id="M8Wallet">0.00</li>
                            <li><button class="btn btn-default btn-default-border" onclick="OpenModelTransferWallet('M8 Wallet')"><span class="text-primary">ALL IN</span></button></li>
                        </ul>
                        <div class="turnover-show">
                            <label>Daily Turnover</label>
                            <label id="m8Turnover">-</label>
                        </div>
                    </div>
                </div>
                <div class=" col-xs-4  transfer-wallet">
                    <div class="transfer-wallet-div">
                        <ul class="text-center">
                            <li class="">Maxbet</li>
                            <li class="text-primary">MYR</li>
                            <li class="text-primary" id="MaxBetWallet">0.00</li>
                            <li><button class="btn btn-default btn-default-border" onclick="OpenModelTransferWallet('MaxBet Wallet')"><span class="text-primary">ALL IN</span></button></li>
                        </ul>
                        <div class="turnover-show">
                            <label>Daily Turnover</label>
                            <label id="maxbetTurnover">-</label>
                        </div>
                    </div>
                </div>
                <div class=" col-xs-4  transfer-wallet">
                    <div class="transfer-wallet-div">
                        <ul class="text-center">
                            <li class="">DG</li>
                            <li class="text-primary">MYR</li>
                            <li class="text-primary" id="DGWallet">0.00</li>
                            <li><button class="btn btn-default btn-default-border" onclick="OpenModelTransferWallet('DG Wallet')"><span class="text-primary">ALL IN</span></button></li>
                        </ul>
                        <div class="turnover-show">
                            <label>Daily Turnover</label>
                            <label id="dgTurnover">-</label>
                        </div>
                    </div>
                </div>
                <div class=" col-xs-4  transfer-wallet">
                    <div class="transfer-wallet-div">
                        <ul class="text-center">
                            <li class="">Sexy B.</li>
                            <li class="text-primary">MYR</li>
                            <li class="text-primary" id="SexyWallet">0.00</li>
                            <li><button class="btn btn-default btn-default-border" onclick="OpenModelTransferWallet('Sexy Wallet')"><span class="text-primary">ALL IN</span></button></li>
                        </ul>
                        <div class="turnover-show">
                            <label>Daily Turnover</label>
                            <label id="sexyTurnover">-</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4  transfer-wallet">
                    <div class="transfer-wallet-div">
                        <ul class="text-center">
                            <li class="">SA</li>
                            <li class="text-primary">MYR</li>
                            <li class="text-primary" id="SAWallet">0.00</li>
                            <li><button class="btn btn-default btn-default-border" onclick="OpenModelTransferWallet('SA Wallet')"><span class="text-primary">ALL IN</span></button></li>
                        </ul>
                        <div class="turnover-show">
                            <label>Daily Turnover</label>
                            <label id="saTurnover">-</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4  transfer-wallet">
                    <div class="transfer-wallet-div">
                        <ul class="text-center">
                            <li class="">Pussy888</li>
                            <li class="text-primary">MYR</li>
                            <li class="text-primary" id="Pussy888Wallet">0.00</li>
                            <li><button class="btn btn-default btn-default-border" onclick="OpenModelTransferWallet('Pussy888 Wallet')"><span class="text-primary">ALL IN</span></button></li>
                        </ul>
                        <div class="turnover-show">
                            <label>Daily Winover</label>
                            <label id="Pussy888Turnover">-</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-4  transfer-wallet">
                    <div class="transfer-wallet-div">
                        <ul class="text-center">
                            <li class="">AllBet</li>
                            <li class="text-primary">MYR</li>
                            <li class="text-primary" id="AllBetWallet">0.00</li>
                            <li><button class="btn btn-default btn-default-border" onclick="OpenModelTransferWallet('AllBet Wallet')"><span class="text-primary">ALL IN</span></button></li>
                        </ul>
                        <div class="turnover-show">
                            <label>Daily Turnover</label>
                            <label id="AllBetTurnover">-</label>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</div>

<div class="container">
    <div id="RestoreConfirmation" class="modal fade">
        <div class="modal-dialog mail-width">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <p> Are you sure to proceed Restore ?</p>
                    <ul class="list-inline pad-top-ten">
                        <li><button onclick="RestoreBalance()" data-dismiss="modal" class="submit"><a asp-page="/Account/Profile" asp-fragment="deposit">Yes</a></button></li>
                        <li><button class="submit" data-dismiss="modal"><a asp-page="/Home/home">No</a></button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="AllInConfirmation" class="modal fade">
        <div class="modal-dialog mail-width">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <p> Are you sure to proceed ?</p>
                    <ul class="list-inline pad-top-ten">
                        <li><button onclick="TransferInAllWallet()" data-dismiss="modal" class="submit"><a asp-page="/Account/Profile" asp-fragment="deposit">Yes</a></button></li>
                        <li><button class="submit" data-dismiss="modal"><a asp-page="/Home/home">No</a></button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    UserGameTurnover();
</script>
