@page
@{
    ViewData["Title"] = "Verified Mobile Number";
    Layout = "~/Pages/Shared/LayoutMobile.cshtml";
}
<script>
    document.getElementById("Translation_Option").innerHTML = "";
    document.getElementById("navbarhide").innerHTML = "";
    document.body.classList.add("no-pad-top");

    function Counter() {
        document.getElementById("button_resend").disabled = true;
        
        var count = 60;
        var timer = setInterval(function () {
            $("#counter_txt").html((count--) - 1);
            if (count == 0) {
                clearInterval(timer);
                document.getElementById("counter_txt").innerText = "";
                document.getElementById("button_resend").disabled = false;
            }
        }, 1000);
    }

    async function SendOTP(number) {
        if (number == 1)
            Counter();
        var resUserData = JSON.parse(dec(sessionStorage.getItem('UserDetails')));
        if (resUserData.data.mobilenoConfirmed == false) {
            LoaderShow();
            var res = await GetMethodWithReturn(apiEndPoints.SendOTP);
            ShowSuccess(ChangeErroMessage("otp_send_success"));
            LoaderHide();
        }
    }


    async function VerifiedOTP() {
        LoaderShow();
        let model = {
            otp: document.getElementById("txt_otp").value
        }

        if (model.otp == null || model.otp == undefined || model.otp == "") {
            LoaderHide();
            return ShowError(ChangeErroMessage("error_otp_required"));
        }
        
        if (model.otp.length > 6) {
            LoaderHide();
            return ShowError(ChangeErroMessage("error_otp"));
        }
        try {
            var res = await PostMethod(apiEndPoints.VerifiedOTP, model);
        }
        catch{
            document.getElementById("txt_otp").value = "";
        }
        if (res.data.errorCode == 0) {
            var Details = await GetMethod(apiEndPoints.getProfile);
            sessionStorage.setItem('UserDetails', enc(JSON.stringify(Details)));
            window.location = "../Mobile/home";
        }
        LoaderHide();
    }


    if (GetLocalStorage('currentUser') === null) {
        window.location.href = "/";
    }
    else {
        
    }
</script>
<div class="white-bg forget-pswd">
    <div class="container">
        <div class="info-form text-center">
            <div class="row">
                <div class="col-xs-2">
                    <div class="back-btn"><a href="../Mobile/home"><img class="tab-bankicon" src="~/images/mobile/BackArrow_svg.svg" alt="" /></a></div>
                </div>
                <div class="col-xs-8">
                    <h4 class="black-text lang" key="otp_verification"></h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="flexible-height login-height white-bg account-page-extra-padding">
    <div class="container" style="margin-bottom:100px;">
        <div class="reg_nav mar-top-15">
            <div class="loin-window">
                <div class="row">

                    <div class="col-xs-12">
                        <form>
                            <div class="mar-btm-ten">
                                <p class="big-text no-mar"><strong><span class="lang" key="otp_text"></span></strong></p>
                            </div>
                            <div class="form-group">
                                <input type="number" id="txt_otp" tabindex="1" pattern="\d*" class="form-control" autocomplete="off" placeholder="OTP">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" id="button_resend" class="btn btn-primary login_btn join_btn no-mar-btm" onclick="SendOTP(1)">
                            <span class="lang" key="send_otp"></span>
                            <span id="counter_txt"></span>
                        </button>
                        <button type="button" class="btn btn-success login_btn join_btn no-mar-btm" onclick="VerifiedOTP()"><span class="lang" key="verified_otp"></span></button>
                        <button type="button" class="btn btn-success login_btn join_btn no-mar-btm" onclick="logoutMain(1)"><span class="lang" key="sidebar_Logout"></span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
