@page
@{
    ViewData["Title"] = "Withdraw";
    Layout = "~/Pages/Shared/LayoutMobile.cshtml";
}
<script src="~/js/mobile/m_bank.js"></script>
<script>
    document.getElementById("navbarhide").style.display = "none";
    document.getElementById("hideBody").style.padding = "0px";
    document.getElementById("Translation_Option").innerHTML = "";
    if (GetLocalStorage('currentUser') === null)
        window.location = "../Mobile/home";
</script>

<div id="Withdrawal" class="account-reg white-bg radius-border page-extra-padding">
    <div class="info-form text-center">
        <div class="row">
            <div class="col-xs-2">
                <div class="back-btn"><a href="../Mobile/home" rel="prefetch"><img class="tab-bankicon" src="/images/mobile/BackArrow_svg.svg" alt=""></a></div>
            </div>
            <div class="col-xs-8">
                <h4 class="black-text lang" key="withdrawal_title"></h4>
            </div>
        </div>
    </div>  
    <div class="row transfer-header ">
        <div class="col-sm-12 col-xs-12">
            <div class="col-sm-offset-1 col-xs-offset-1 col-sm-10 col-xs-10">
                <ul class="margin-top">
                    <li class="text-center black-text">Main Wallet</li>
                    <li class="text-center menuwallet">MYR <span id="menuMainWallet" class="menu-main-wallet"><img class="loading-gif" src="~/images/loading.gif" /></span><span onclick="RefershBalance()" class="fa fa-refresh refersh-btn"></span></li>
                    <li class="text-center"><button class="btn btn-default" data-toggle="modal" data-target="#RestoreConfirmation">Restore</button></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bank-multi-list">
        <form id="formWithdrawal">
            <ul class="password-upadte pad-top-ten">
                <li>
                    <p class="big no-mar lang" key="withdrawal_bankname"></p>
                    <div class="bank-selection mar-top-15">
                        <ul class="bank-listing highlight-bank" id="withdraw_bank_list">
                        </ul>
                    </div>
                </li>
            </ul>
        </form>
    </div>
    <div class="info-form bank-remain-list">
        <div class="pad-lr-comman">
            <form id="formWithdrawal">
                <ul class="password-upadte no-mar">
                    @*<li class="mar-btm-fifteen">
            <label class="fleft"><p class="big no-mar lang" key="profile_account_holder"></p></label>
            <label class="fright bank-name mendatory" >
                <input id="lbl_accountHolder" name="txt_withdrawalAccountName" type="text" class="reg-form" placeholder="Enter Account Name">
                <p class="star">*</p>
            </label>
        </li>*@


                    <li class="mar-btm-fifteen" id="displayAccountNumber">
                        <label class="fleft"><p class="big no-mar lang" key="withdrawal_account_number"></p></label>
                        <label class="fright bank-icon bank-name mendatory">
                            <input id="txt_withdrawalAccountNumber" name="txt_withdrawalAccountNumber" type="number" pattern="\d*" class="reg-form" placeholder="Enter Account Number">
                            <p class="star">*</p>
                        </label>
                    </li>


                    @*<li class="mar-btm-fifteen" id="displayAccountNumber">
            <p class="big lang" key="withdrawal_account_number"></p>
            <label class="card-number mendatory"><input id="txt_withdrawalAccountNumber" name="txt_amount" type="number" class="reg-form" placeholder="Enter Account Number"><p class="star">*</p></label>
        </li>*@
                    <li class="mar-btm-fifteen">
                        <label class="fleft"><p class="big no-mar lang" key="withdrawal_from"></p></label>
                        <label class="fright bank-name mendatory">Main Wallet</label>
                    </li>



                    <li class="mar-btm-fifteen">
                        <label class="fleft"><p class="big lang" key="withdrawal_amount"></p></label>
                        <label class="fright card-number bank-name mendatory">
                            <input id="txt_withdrawalAmount" name="txt_withdrawalAmount" type="number" pattern="\d*" class="reg-form" placeholder="Min/Max Limit: 10.00/ 30,000.00">
                            <p class="star">*</p>
                        </label>
                    </li>

                    <li class="mar-btm-fifteen">
                        <label class="fleft"></label>
                        <label class="fright"><span class="fa fa-lock" id="lock_icon"></span><span class="fa fa-unlock" id="unlock_icon"></span>&nbsp;<span data-toggle="modal" data-target="#WithdrawAmountList" id="WithdrawAmount">MYR 700</span></label>
                    </li>

                    @*<li class="mar-btm-fifteen">
            <p class="big lang" key="withdrawal_amount"></p>
            <label class="card-number mendatory"><input id="txt_withdrawalAmount" name="txt_amount" type="number" class="reg-form" placeholder="Min/Max Limit: 10.00/ 30,000.00"><p class="star">*</p></label>
        </li>*@
                    <li class="mar-btm-fifteen text-center">
                        <button class="submit lang" key="withdrawal_submit" data-toggle="modal" data-target="#profilemyModal" onclick="Withdrawal()" type="button"></button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-lg-4">
            <div class="info-form deposit-section pad-top-twentyfive pad-btm-twentyfive" style="background-color: #eeeeee; border-radius: 6px;">
                <div class="pad-lr-comman notice-list">
                    <div class="row">
                        <div class="col-xs-10">
                            <h6 class="info-notice" id="show"><a href="javascript:;"><span class="lang" key="important_notice"></span></a></h6>
                        </div>
                        <div class="col-xs-2">
                            <div class="close-icon" id="hide">
                                <a href="javascript:;"><i class="fa fa-times text-danger" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <ol class="info-notice-list">
                        <li>Kindly check with our <a onclick="window.open('https://chatserver.comm100.com/ChatWindow.aspx?siteId=233923&amp;planId=425', 'newwindow','width=385,height=580');" target="_blank"><b>24/7 LIVECHAT</b></a> if your transaction is pending for more than 10 minutes.</li>
                        <li>For further inquiries, kindly contact our <a onclick="window.open('https://chatserver.comm100.com/ChatWindow.aspx?siteId=233923&amp;planId=425', 'newwindow', 'width=385,height=580');" target="_blank"><b>24/7 LIVECHAT</b></a>. Thank you.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div id="RestoreConfirmation" class="modal fade">
        <div class="modal-dialog mail-width">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <p> Are you sure to proceed Restore ?</p>
                    <ul class="list-inline pad-top-ten">
                        <li><button onclick="RestoreBalance()" data-dismiss="modal" class="submit"><a asp-page="/Account/Profile" asp-fragment="deposit">Yes</a></button></li>
                        <li><button class="submit" data-dismiss="modal"><a asp-page="/Home/home">No</a></button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div id="WithdrawAmountList" class="modal fade">
        <div class="modal-dialog withdrawamount-model-width">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div id="WithdrawAmountList" class="tab-pane fade in ">
                        <div class="table-responsive overflow-hidden">
                            <table class="table table-bordered text-center" id="tbl_WithdrawAmountList">
                                <thead>
                                    <tr class="blue-bg">
                                        <th class="white-text text-center">No</th>
                                        <th class="white-text text-center">Title</th>
                                        <th class="white-text text-center">Before Promotion balance</th>
                                        <th class="white-text text-center">Apply Date</th>
                                        <th class="white-text text-center">Status</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div>
                        <p><span class="fa fa-info-circle"></span> You are only allowed to withdraw the amount that has no wagering requirement. Other balance will be locked until bonus requirement has been meet</p>
                        <p><span class="fa fa-info-circle"></span> Before Promotion balance is the balance remaining before you had applied new promotion,it is available to withdraw Amount</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(async function () {
        $("#show").click(function () {
            $(".info-notice-list").show();
        });
        $("#hide").click(function () {
            $(".info-notice-list").hide();
        });
    });
    CheckWithdrawAmountList();
    loadAccountName();

    async function loadAccountName() {
        if (GetLocalStorage('currentUser') !== null) {
            var res = await GetMethod(apiEndPoints.getProfile);
            document.getElementById("lbl_accountHolder").value = res.data.name;
        }
    }
</script>