body                                        { background-color: #ffffff; padding-top: 40px; }
.scroll-content .join-now-section .myr-quote { margin-top: 5px; }
.transfer-header                            { background-color: #feb801; }
.menu-main-wallet,
.menuwallet                                 { color: #000000; }
.menuwallet > .btn-default                  { margin-left: 10px;}
.black-bg                                   { background-color: #232323; }
.promotion-title                            { padding: 10px; margin-top: 9px;}
.promotion-title h4                         { text-transform: uppercase; }
.margin-promotion                           { margin-top: 0px; }
#afterlogin_mobile .navbar-header.mob-layout > li { width: 50%;}
.navbar-toggle .icon-bar                    { width: 15px; }
.navbar-toggle                              { padding: 7px; }
.navbar-brand .logo                         { margin-top: 5px; max-width: 150px;}
.mob-layout > ul                            { padding: 2px 0px; }
.navbar-header .dropdown-menu               { min-width: 200px; }
.announcment-font                           { font-size: 12px; }
#comm100-float-button-2 > div               { right: calc(10% - 10px) !important;}
/* Sidebar */
.sidebar                                    { height: 100%; }
.nav.mob-menu > li > a                      { color: #feb801; cursor: pointer;}
.nav.mob-menu > li > a > img                { max-width: 40px; }
/* Header */
.navbar-header.mob-layout                   { box-shadow: 0px 0px 5px #333; }
.navbar-default                             { background: #ffffff;}
.mob-layout.navbar-header .navbar-toggle    { margin-left: 10px; }
.navbar-default .navbar-toggle              { background: #feb801; border-radius: 5px;}
.navbar-default .navbar-toggle .icon-bar    { background: #2b2b2b; }
.navbar-default .navbar-toggle:hover        { background: #ffc52d;}
.dropdown-toggle.wallet img                 { max-width: 30px;}
.wallet-dropdown > li:nth-child(odd)        { background: #232323; padding: 10px 5px; }
.wallet-dropdown > li:nth-child(odd) ul     { margin: 0; }
.wallet-dropdown > li:nth-child(even) ul    { background: #2a2a2a; padding: 10px 0px; margin: 0 10px; }
.wallet-dropdown > li                       { margin: 0px; background: #232323; }
.dropdown .dropdown-menu                    { padding: 0px;max-height: calc(100vh - 250px);overflow-y: scroll;background-color:#232323}
.mob-layout .dropdown .btn                  { box-shadow: none;}
.wallet-dropdown > li                       { color: #ffffff; }
.scroll-content                             {padding-bottom: 0px;overflow: hidden;}
.body-content                               { padding-bottom: 70px;}
.join-now-section .account-icon             { display: flex; justify-content: space-around; padding-bottom: 10px;}
.join-now-section .account-icon > li        { width: calc(100% / 5 - 5px);}
.join-now-section                           { padding-bottom: 0px;}
.login-join-btn-row                         { margin-bottom: 0px; background: #1d1d1d; padding: 15px 0px 5px; display: flex; 
                                            justify-content: center; }
.login-join-btn-row .btn                    { padding: 10px 40px 10px 30px; border-radius: 30px; color: #ffffff; transition: 0.5s; width: 43%;
                                            border-bottom: 1px solid #8f0000; position: relative; text-transform: uppercase; margin: 0 5px;
                                            max-width: 175px; }
.login-join-btn-row .btn:before             { content: ''; display: block; left: 15px; top: 50%; transform: translateY(-50%); width: 15px; 
                                            height: 12px; position: absolute; background: no-repeat center center / cover; }
.login-join-btn-row .btn-success:hover      { background: #ffffff; color: #8f0000;}
.login-join-btn-row .btn.login-btn:hover    { background: #ffffff; color: #956b00;}
.login-join-btn-row .btn.login-btn          { border-bottom: 1px solid #a17400; background: #feb801; color: #956b00; outline: none; }
.login-join-btn-row .btn.login-btn:before   { background-image: url(../../images/images-mobile/login.png); }
.login-join-btn-row .btn.join-btn:before    { background-image: url(../../images/images-mobile/signup.png); }
.join-btn                                   { background: #dd1616; }
.login-join-btn-row .btn:after              { content: ''; display: block; right: 5px; top: -10px; width: 40px; height: 50px; 
                                            position: absolute; background: no-repeat center center / cover; filter: drop-shadow(2px 0px 2px #000);}
.login-join-btn-row .btn.login-btn:after    { background-image: url(../../images/images-mobile/login_image.png); width: 50px; 
                                            background-size: contain; right: 0px; }
.login-join-btn-row .btn.join-btn:after     { background-image: url(../../images/images-mobile/signup_image.png); }

/*  */
.myr-quote                                  { background: #feb801; color: #000000; width: 100%; margin: 0; border-radius: 0px;}
.account-icon                               { width: 100%; margin: 0px; border-radius: 0px; background: #000000;}
.account-icon > li                          { transition: 0.0s; padding: 5px; border: 1px solid #feb801; border-radius: 5px; }
.account-icon > li:hover                    { background: #feb801; }
.myr-quote h4 span,
.account-icon > li:hover a span             { color: #000000;}
.account-icon li a span                     { color: #feb801;}
.deposit_icon::before                       { background-image: url(../../images/images-mobile/deposit.png); transition: 0.5s; }
.deposit_icon:hover::before                 { background-image: url(../../images/images-mobile/deposit_hover.png); }
.transfer_icon::before                      { background-image: url(../../images/images-mobile/transfer.png); transition: 0.5s; }
.transfer_icon:hover::before                { background-image: url(../../images/images-mobile/transfer_hover.png); }
.restore_icon::before                       { background-image: url(../../images/images-mobile/restore.png); transition: 0.5s; }
.restore_icon:hover::before                 { background-image: url(../../images/images-mobile/restore_hover.png); }
.withdraw_icon::before                      { background-image: url(../../images/images-mobile/withdraw.png); transition: 0.5s; }
.withdraw_icon:hover::before                { background-image: url(../../images/images-mobile/withdraw_hover.png); }
.history_icon::before                       { background-image: url(../../images/images-mobile/history.png); transition: 0.5s; }
.history_icon:hover::before                 { background-image: url(../../images/images-mobile/history_hover.png); }
.deposit_icon::before, .transfer_icon::before, 
.withdraw_icon::before, .restore_icon::before, 
.history_icon::before                       { top: 7px; height: 25px; }
.game-tab-panel.nav-pills > li.active > a, 
.game-tab-panel.nav-pills > li.active > a:focus, 
.game-tab-panel.nav-pills > li.active > a:hover { background-color: transparent; }
.game-tab-panel                             { display: flex; justify-content: space-between; background: #000; }
.game-tab-panel li                          { background: #2a2a2a; width: calc(100% / 4); text-align: center; transition: 0.0s; position: relative; }
.game-tab-panel li:before                   { content: '\f0de'; display: block; left: 50%; transform: translateX(-50%); width: 0; height: 0px; 
                                            position: absolute; bottom: 10px; font-family: fontAwesome; font-weight: 400; transition: 0.5s; }
.game-tab-panel li.active:before,
.game-tab-panel li:hover:before             { color: #ffffff;}
.game-tab-panel li a                        { color: #525252; padding: 45px 7px 10px; display: block; }
.game-tab-panel li:hover a                  { color: #ffffff; border: 0px;}
.game-tab-panel li:not(:last-child)         { border-right: 1px solid #151515; }
.casino a,.sport a,.slot a,.fishing a		{ position: relative;}
.nav-tabs > li.casino.active a,
.nav-tabs > li.sport.active a,
.nav-tabs > li.slot.active a,
.nav-tabs > li.fishing.active a            { background: transparent; border: 0px; color: #ffffff; }
.casino a:before,.sport a:before,.slot a:before,
.fishing a:before                           { content: ""; display: block; top: 5px; left: 50%; transform: translateX(-50%); 
                                            background: no-repeat center center / 100%; width: 40px; height: 40px; position: absolute; }
.casino a:before                            { background-image: url(../../images/images-mobile/casino.png); transition: 0.5s; }
.casino.active a:before, .casino.active:hover a:before,
.casino:hover a:before {
    background-image: url(../../images/images-mobile/casino_hover.png);
    filter: drop-shadow(10px 10px 6px black);
}
.sport a:before                             { background-image: url(../../images/images-mobile/sport.png); transition: 0.5s; }
.sport.active a:before, .sport.active:hover a:before,
.sport:hover a:before {
    background-image: url(../../images/images-mobile/sport_hover.png);
    filter: drop-shadow(10px 10px 6px black);
}
.slot a:before                              { background-image: url(../../images/images-mobile/slot.png); transition: 0.5s; }
.slot.active a:before, .slot.active:hover a:before,
.slot:hover a:before {
    background-image: url(../../images/images-mobile/slot_hover.png);
    filter: drop-shadow(10px 10px 6px black);
}
.fishing a:before                           { background-image: url(../../images/images-mobile/fish.png); transition: 0.5s; }
.fishing.active a:before, .fishing.active:hover a:before,
.fishing:hover a:before {
    background-image: url(../../images/images-mobile/fish_hover.png);
    filter: drop-shadow(10px 10px 6px black);
}
/* Middle Area */
.annunce-title img                          { max-width: 20px; margin-right: 5px;}
.annunce-section                            { padding-top: 10px; padding-bottom: 0px; margin-bottom: 0px;}
.game-series {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 5px;
}
.game-series li                             { width: calc(100% / 3); padding: 0 5px; margin: 0px 0px 20px; text-align: center; }
.game-series li img                         { width: 100%; transform: scale(1.2); max-width: 100px; }
.tab-area                                   { background: #ffffff; padding-bottom: 25px; }
.game-title                                 { padding: 20px 5px 5px; font-size: 11px; line-height: 10px; background: #fff; border-radius: 30px;
                                            box-shadow: 0px 5px 5px #ccc; display: block; color: #000; margin-top: -10px; border: 0px; 
                                            width: 100%; }
.hero-banner .slick-initialized .slick-slide { height: 100px;}
/* Footer */
.footer-widget                              { background-image: linear-gradient(to bottom right,#ffb701 ,#ff9600);}
.footer-widget ul                           { padding: 0px;}
.footer-widget ul li                        { transition: 0.5s; position: relative; padding: 10px 0px; width: 20%;}
/*.footer-widget ul li:hover,                  */
.footer-widget ul li.active-link            { background-color: #ffc52c;}
.footer-widget ul li:before                 { content: ''; display: block; top: 0; width: 0px; height: 5px; background: #8e5502; position: absolute;
                                            transition-timing-function: linear; transition-duration: 0.4s;}
.footer-widget ul li.active-link:before  { width: 100%; }
/*.footer-widget ul li:hover:before           { width: 100%; }*/
.footer-widget ul li a                      { color: #fff3d2; transition: 0.5s; display: block; }
.footer-widget ul li i                      { font-size: 25px; line-height: 30px;}
.footer-widget ul li.active-link a,
.footer-widget ul li.active-link a .white-text { color: #8e5502;}
/*.footer-widget ul li:hover a .white-text,
.footer-widget ul li:hover a                { color: #8e5502;}*/
/*#comm100-float-button-2                   { display: none; }*/
/*#comm100-float-button-2 > div             { bottom: -25px !important; right: 0px !important;}*/
.footer-widget ul li:last-child             { display: block; }
.footer-widget ul li:last-child,
.live-chat                                  { position: relative; transform: unset; padding-top: 40px; bottom: unset; top: unset; right: unset; }
.live-chat:after                            { content:''; transition: 0.5s; width: 22px; height: 28px; position: absolute; top: 12px; left: 50%; 
                                            transform: translateX(-50%); }
/*.live-chat:hover:after                    { background-image: url(../../images/images-mobile/livechat_hover.png); }*/
/* Deposite */
.transfer-wallet-div                        { font-size: 12px; line-height: 16px; }
.fright.mendatory.black-text p              { background: #feb801; }
.fake-upload-btn.upload-btn                 { background: linear-gradient(to bottom, #ffb701 0%, #f90 102%); }
.history-tabs .nav-tabs                     { background: transparent; padding-bottom: 10px;; }
.info-form.history-tabs .nav > li.active > a,
.history-tabs .nav-tabs > li.active > a, 
.history-tabs .nav-tabs > li.active > a:focus, 
.history-tabs .nav-tabs > li.active > a:hover { background-color: #feb801; }
.game-name > p                              { color: #feb801; }
.info-form.history-tabs .nav > li > a       { background: #dcdcdc; }
.turnover-show > label                      { font-size: 11px; line-height: 16px; }
.turnover-show > label:first-child          { margin-top: 5px; margin-bottom: 0px; }
.account-reg .turnover-show label:last-child { font-size: 13px; line-height: 18px; }
.transfer-wallet                            { padding: 5px 10px; }
.transfer-wallet-div .btn-default-border    { font-size: 12px; padding: 3px 9px; }
.account-reg                                { margin-bottom: 20px; }
#Deposit .deposit-section.info-form         { padding-bottom: 50px; }
.profile-area                               { background-color: #000000; margin: 0px; }
.profile-area h4                            { padding: 15px;}
.account-page-extra-padding                 { padding-bottom: 40px !important;}
.profile-page.account-page-extra-padding    { padding: 0px;}
.hero-banner img                            { width: 100%; }
.login-top-slider .slick-prev               { left: 25px; width: 20px; height: 20px; }
.login-top-slider .slick-next               { right: 25px; width: 20px; height: 20px; }
.login-top-slider .slick-prev,
.login-top-slider .slick-next               { width: 25px; height: 25px; }
.login-top-slider .slick-prev:hover:before,
.login-top-slider .slick-next:hover:before  { color: #000000; background-color: #ffffff; }
.login-top-slider .slick-prev:before,
.login-top-slider .slick-next:before        { width: 25px; height: 25px; background-color: #000000; color: #ffffff; font-size: 14px; 
                                            line-height: 25px; display: block; border-radius: 50%; transition: 0.5s; font-family: fontAwesome; }
.login-top-slider .slick-prev:before        { content: '\f053'; }
.login-top-slider .slick-next:before        { content: '\f054'; }
.login-top-slider .slick-prev               { left: 25px; }
.login-top-slider .slick-next               { right: 25px; }
/* Promotion Page */
.promotion-bg                               { background: no-repeat center center / 100% 100%;height: 100px;filter: drop-shadow(2px 4px 6px black);border-radius:10px;}
.promotion-bg a                             { display: block; height: 100%; }
.promotion-bg:not(:last-child)              { margin-bottom: 10px; }
.logowithback .row                          { display: flex; align-items: center; }
.login_btn.join_btn                         { background: #feb801; border: 0px; color: #8d4f00; }
.forgot-psw a                               { color: #8d4f00; }
.panel-group                                { margin-bottom: 0px; }
#language .modal-content                    { background-color: #fff; width: 100%; margin: 0; }
.promo-inner .row                           { display: flex; align-items: center;}
.promo-inner img                            { max-width:175px;}
.promo-inner img.tab-bankicon               { width:25px;}
.mar-none                                   { margin: 0px;}
.footer-widget ul li p                      { font-size: 11px; }
label.mobile-number a                       { line-height: 25px; display: block; }
.sidebar                                    { height: 100%;}
.panel-group {
    margin-bottom: 75px;
}

.intro .main-content { left: unset; }

.promotion-margin-top{height:unset;}