@page
@{
    ViewData["Title"] = "Faqs";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<title>Webet333 - @ViewData["Title"] </title>
<script>
    setInterval(function () { ddlShowBalance() }, 1000);
</script>
<div class="account-reg pad-comman-fifteen mar-fifty white-bg-tab-panel">
    <h4 class="faqs-icon symbol mar-btm-ten"><strong>FAQs</strong></h4>
    <div class="row">
        <div class="col-sm-12">
            <div class="faq-content">
                <h5 class="title">1. Age requirement?</h5>
                <p>To join you need agree to the Terms &amp; Conditions and be at least 18 years old or above. Most countries have their own rules regarding online gaming and so you must make sure you're aware of any regulations and adhere to their rules.</p>
                <h5 class="title">2. How do I make a deposit?</h5>
                <p>Funds may be deposited into your member account using the following methods:</p>
                <p><strong>Local bank transfers</strong><br>As our valued customer we will always strive to keep banking free of charge for you. You will not be charged by us for any deposits into or withdrawals out of your account - unless we specifically alert you in advance that the particular method you have requested carries an excess charge.</p>
                <h5 class="title">3. How can I be certain games are fair?</h5>
                <p>We have professionals to calculate the payout percentage for all our games, making sure that you can be certain that our games meet industry standard fairness regulations.</p>


                <h5 class="title">4. For those player who are playing 918KISS & MEGA888 & JOKER123, XE88  and PUSSY888 please take note that WEBET333 have been BANNED these following games as below :</h5>
                <p>
                    -(King Derby)
                    -(Motor bike)
                    -(Monkey story)
                    -(Droiyan)
                    -(Battle world)
                    -(DaShengNaoHai)
                    -(LiKuiPiYu)
                    -(Fishing Star)
                    -(Ocean King)
                    -(Thunderbolt)
                    -(SunWuKong)
                </p>



                <h5 class="title">5. Is my personal information secure?</h5>
                <p>We will makes sure that your details are secure all of the time. We use the best quality security measures Secure Socket (SSL 128 bit encryption Standard) and is stored in secure operating environments that allow customer making payments online has never been safer. will not disclose your personal information to any third party.</p>
                <h5 class="title">6. Forget username or password?</h5>
                <p>You will be able to reset your password by clicking "Forgot Password?" button at the login page.Submit the registered phone number and the password reset link will send to your mailbox.</p>
                <h5 class="title">7. What are the supported currencies?</h5>
                <p>MYR£¨the other currency will be consider in future</p>
                <h5 class="title">8. What is the maximum bet amount of ?</h5>
                <p>Each sports and betting products have their own maximum stake and these amount may increase or decrease depending on the bet's pool size and the time the bet was placed. It is advisable to refer to the MAX stake on the mini bet list shown on the left hand frame by clicking on the price whenever you want to place a bet.</p>
                <h5 class="title">9. What is the minimum bet amount of ?</h5>
                <p>The minimum bet amount is one unit of the currency you opened your account in,depending on the games and table you choose.</p>
                <h5 class="title">10. How long does it take for bets to be settled?</h5>
                <p>We aim to settle bets as quickly as possible, however for some events official confirmation of the result is necessary which may delay the settlement procedures.</p>
                <h5 class="title">11. How long does it take for withdrawal?</h5>
                <p>During bank working hours, it takes within 5-15 minute to process withdrawals.</p>
                <h5 class="title">12. I have problems loading some of the content of the website. How can I solve this issue?</h5>
                <p>There is a known issue with older versions of Adobe Flash Player while displaying Flash graphics. We advice you update your Flash Player and your browser.</p>
            </div>
        </div>
    </div>
</div>
