@page
@{
    ViewData["Title"] = "Game";
    Layout = "";
}
<title>Webet333 - @ViewData["Title"] </title>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/constants/apiConsts.js"></script>
<script src="~/js/helpers/storageHelpers.js"></script>
<script src="~/js/helpers/toastrHelpers.js"></script>
<script src="~/js/helpers/apiHelpers.js"></script>
<script src="~/js/pages/gamePageNavigation.js"></script>
<script src="~/js/constants/M8Consts.js"></script>
<script src="~/js/constants/AGConsts.js"></script>
<script src="~/js/helpers/crypto-js.js"></script>
<script src="~/js/constants/PlaytechConsts.js"></script>
<script src="~/js/constants/SecurityConsts.js"></script>
<script src="~/js/pages/home.js"></script>
<script src="https://login.winforfun88.com/jswrapper/integration.js.php?casino=winforfun88"></script>
<style>
    .loadingImage {
        text-align: center;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: center no-repeat #0f203a;
        opacity: .9;
        background-image: url(../images/loading2.gif);
        background-size: 90px 100px;
    }
</style>
<script>
    $(document).ready(function () {
        LoaderShow();
        var url_string = window.location;
        var url = new URL(url_string);
        var name = url.searchParams.get("gamename");
        if (name == "Playtech") {
            var imported = document.createElement('script');
            imported.setAttribute('src', 'https://login.winforfun88.com/jswrapper/integration.js.php?casino=winforfun88')
            document.head.appendChild(imported);
        }
        GameLogin(name);
    });
</script>
<html>
<body>
    <div class="loadingImage"></div>
</body>
</html>


