@page
@{
    ViewData["Title"] = "How To Join";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<title>Webet333 - @ViewData["Title"] </title>
<script>
    setInterval(function () { ddlShowBalance() }, 1000);
</script>
<div class="account-reg pad-comman-fifteen mar-fifty white-bg-tab-panel">
    <h4 class="join-icon symbol mar-btm-ten"><strong><span class="lang" key="how_to_join_page"></span></strong></h4>
    <div class="row">
        <div class="col-sm-12">
            <div class="faq-content white-text">
                <h5 class="title" style="color:grey">Join us as member</h5>
                <p class="pad-top-ten">To bet in , you need to create an account and join us as a member.</p>

                <h5 class="title" style="color:grey">Member</h5>
                <ol class="promotion-note white-text" style="color:grey">
                    <li>Login site, user can click "Register" to be our member.</li>
                    <li>When successful register</li>
                    <li>Then member can start login to visit our site.</li>
                    <li>At the moment, member can start deposit money by using our system to perform betting.</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="mar-comman">
    </div>
</div>
