@page
@{
    ViewData["Title"] = "Promotion";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<title>Webet333 - @ViewData["Title"] </title>
<script src="../../js/pages/promotion.js" type="text/javascript"></script>
<script>
    setInterval(function () { ddlShowBalance() }, 1000);
</script>
<style>
    #accordion .table tbody tr:first-child td {
        background: #858585;
    }

    #accordion table {
        background: #666666 !important;
    }
</style>

<div id="accordion" class="panel-group promotion-detail">
</div>